[2020-10-02 14:35] gjsjohnmurray opened #1 "MACs, INTs and OBJs"
Handle Go To Definition

[2020-10-02 14:36] daimor opened #2 "Class %SYSTEM.CLS does not exists"
![image](https://user-images.githubusercontent.com/1212251/94935471-c84d8200-04d5-11eb-9781-87856392d99a.png)

[2020-10-05 14:14] #1 closed, assigned to isc-bsaviano

[2020-10-05 14:38] gjsjohnmurray opened #3 "Crashed the extension host 5 times on Windows"
1.0.0-beta.1

[code]

Version: 1.49.3 (user setup)
Commit: 2af051012b66169dde0c4dfae3f5ef48f787ff69
Date: 2020-10-02T17:57:01.595Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

I don't get the problem on macOS. There the extension seems to function fine.

[2020-10-05 14:56] gjsjohnmurray opened #4 "NEWed variable in class method with [ProcedureBlock=0] is marked as an error"
[code]

With 1.0.0-beta.1 myVariable gets red squiggle underline.

Also, code completion didn't offer [ProcedureBlock](https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=ROBJ_METHOD_PROCEDUREBLOCK) as a possible method keyword when I was entering the above example.

[2020-10-05 15:14] gjsjohnmurray opened #5 "References to uncompiled classes are marked as errors"
![image](https://user-images.githubusercontent.com/6726799/95097774-c7129400-0725-11eb-84e2-0ea46a696a7f.png)

1.0.0-beta.1

[2020-10-05 18:54] #3 closed, assigned to nobody

[2020-10-05 18:56] daimor opened #6 "Connection settings can be changed during runtime, while file is open"
One of the common cases is when docker-compose configuration used. In this case port can be even random.
Language-server seems like it checks, for the connections settings only once per file.

[2020-10-06 17:25] #4 closed, assigned to nobody

[2020-10-06 17:26] #5 closed, assigned to nobody

[2020-10-07 12:27] gjsjohnmurray opened #8 "Unexpected "Class name is ambiguous" Problem message"
![Screenshot 2020-10-07 at 13 21 50](https://user-images.githubusercontent.com/6726799/95330335-4fb53f80-08a0-11eb-860f-1a045a2ae57b.png)

The classname lacks a package qualifier, but is preceded by a `#import ClearWater` that provides the package name.

Present in 1.0.0-beta.3

[2020-10-07 17:31] gjsjohnmurray opened #9 "CompletionProvider fails in INC"
![image](https://user-images.githubusercontent.com/6726799/95366328-34135e80-08cb-11eb-9b04-bebd69955da7.png)

The full message is:
[code]

[2020-10-07 20:48] gjsjohnmurray opened #10 "DocumentSymbolProvider should ignore first line of routines"
See https://github.com/intersystems-community/vscode-objectscript/issues/367

Change LS to align with https://github.com/intersystems-community/vscode-objectscript/pull/372

[2020-10-08 13:52] gjsjohnmurray opened #11 "%BigData.ShardingManager class reports syntax errors"
An example:

![image](https://user-images.githubusercontent.com/6726799/95467916-eb64af80-0975-11eb-8d89-0051191e074a.png)

[2020-10-08 17:58] isc-bsaviano opened #12 "Add code completion and hover support for preprocessor directives"
See https://github.com/intersystems/language-server/issues/9#issuecomment-705130962

[2020-10-08 18:52] daimor opened #13 "Provide support for manually triggered completion requests"
- [ ] As can suggest only when nothing typed.

![image](https://user-images.githubusercontent.com/1212251/95499345-d277f080-09ad-11eb-902e-fd3a025b488f.png)

- [ ] Extends, can suggest when type dot '.' and nothing if something typed

![image](https://user-images.githubusercontent.com/1212251/95499380-de63b280-09ad-11eb-8100-0706a3dbee58.png)

- [x] Does not suggest class members

![image](https:/

[2020-10-08 18:57] daimor opened #14 "Go to macros definition fails"
![image](https://user-images.githubusercontent.com/1212251/95501441-f983f180-09b0-11eb-9006-432149682eea.png)

[2020-10-08 19:03] daimor opened #15 "Better support for Peek Definition functionality"
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/1212251/95502091-f76e6280-09b1-11eb-89c5-06e41a0cc362.gif)

[2020-10-08 19:50] isc-bsaviano opened #16 "Fix code completion for system functions/variables"
From @daimor in https://github.com/intersystems/language-server/issues/13#issue-717582501

![image](https://user-images.githubusercontent.com/1212251/95501065-6c409d00-09b0-11eb-8405-167b5991058d.png)

![image](https://user-images.githubusercontent.com/1212251/95501105-79f62280-09b0-11eb-8e4e-7b784fba548c.png)

[2020-10-09 18:10] #2 closed, assigned to isc-bsaviano

[2020-10-09 18:10] #6 closed, assigned to nobody

[2020-10-09 18:13] #9 closed, assigned to isc-bsaviano

[2020-10-09 18:13] #14 closed, assigned to isc-bsaviano

[2020-10-09 18:13] #10 closed, assigned to isc-bsaviano

[2020-10-09 18:13] #12 closed, assigned to isc-bsaviano

[2020-10-09 18:16] #11 closed, assigned to nobody

[2020-10-12 10:25] gjsjohnmurray opened #17 "DocumentSymbolProvider: use more SymbolKind values"
For parameters use SymbolType.Constant

For indices use SymbolKind.Key

For XDATA and Storage use SymbolKind.Struct

This will align LS with what the ObjectScript did, and means the user can distinguish between these kinds of symbol when using the breadcrumb.

[2020-10-12 10:54] gjsjohnmurray opened #18 "Add documentation property to completions of preprocessor directives"
Since #12 we get completions of macro preprocessor directives 👍. It would be good to add documentation and link info so users who rarely use these directives can discover more.

[2020-10-12 12:20] daimor opened #19 "do {} while in SqlComputeCode marked as a syntax error"
![image](https://user-images.githubusercontent.com/1212251/95745733-43fdba80-0c9e-11eb-9af6-7baed180ea9d.png)
The same as a text
[code]

[2020-10-12 12:26] daimor opened #20 "Request textDocument/hover failed with message: Cannot read property 'length' of undefined"
Code
[code]
Hover on method name fails with errors
[code]

[2020-10-12 12:35] daimor opened #21 "XML Suggestions, root tag, undefined"
![image](https://user-images.githubusercontent.com/1212251/95747037-67c20000-0ca0-11eb-9d8f-3d1267e7e879.png)

[2020-10-12 13:29] daimor opened #22 "Improve semantic tokens for macro values"
![image](https://user-images.githubusercontent.com/1212251/95751973-02720d00-0ca8-11eb-8cdb-2a73e894e710.png)

I do not if it how it supposed to be, but it looks quite strange

[2020-10-12 13:34] daimor opened #23 "Hover and Go to macro definition in the same place and in macro definition"
[code]

[2020-10-19 13:27] isc-bsaviano commented on #20
I can't reproduce either of these errors. For the code in the first comment, hover returns the correct documentation for the class and method. For the code in the second comment, hover correctly returns nothing. Is there any more context that might help?

[2020-10-19 13:53] isc-bsaviano commented on #21
As per https://github.com/intersystems/language-server/issues/21#issuecomment-707318586, this isn't a bug with the LS. It's a weird detail of the jsonmapping schema.

[2020-10-19 13:53] #21 closed

[2020-10-19 14:02] daimor commented on #20
So, I've managed to narrow the issue, and it happens due to security limitations, for users with no %All access.
And I see that you have a bunch of queries to %Dictionary classes. While default security settings for role %Developer does not allow such access, we should provide information for users, how to configure it.

And for sure, the extension should catch such errors.

[code]

[2020-10-19 14:18] isc-bsaviano commented on #19
Andy will look at this but the fix won't make it into 1.0.0

[2020-10-19 14:26] isc-bsaviano commented on #22
The tokens are "correct" in the sense that they're the same as Studio but I agree that this looks weird because the two tokens are assigned different colors (in Studio those token types are given the same color by default).

[2020-10-19 14:45] isc-bsaviano commented on #20
Thanks for investigating. My code does catch errors but this slips by because the HTTP response is 200OK despite the query failing. I've added in some more checks so you shouldn't get the error message from the LS.

[2020-10-19 15:55] isc-bsaviano commented on #9
Fixed in version 1.0.0-beta.5.

[2020-10-19 15:55] isc-bsaviano commented on #8
Included John's fix in version 1.0.0-beta.5.

[2020-10-19 15:55] isc-bsaviano commented on #17
Fixed in version 1.0.0-beta.5.

[2020-10-19 15:55] #17 closed

[2020-10-19 15:55] isc-bsaviano commented on #18
Added in version 1.0.0-beta.5.

[2020-10-19 15:55] #18 closed

[2020-10-19 15:56] isc-bsaviano commented on #20
Fixed in version 1.0.0-beta.5. Also added documentation for how to grant the correct privileges in the README.

[2020-10-19 15:56] #20 closed

[2020-10-19 16:48] gjsjohnmurray opened #24 "SymbolProvider result should give a Range that spans the whole symbol definition"
And should return the correct range, to cover not just the first line.
![image](https://user-images.githubusercontent.com/1212251/95740553-6b9c5500-0c95-11eb-8756-27cdc53ededa.png)
![image](https://user-images.githubusercontent.com/1212251/95740588-7c4ccb00-0c95-11eb-99c3-0df508f8cc6a.png)

_Originally posted by @daimor in https://github.com/intersystems/language-server/issues/17#issuecomment-7070

[2020-10-19 16:50] gjsjohnmurray opened #25 "SymbolProvider should include Documentation to the class member as well"
_Originally posted by @daimor in https://github.com/intersystems/language-server/issues/17#issuecomment-707078008_

I don't think this got done in 1.0.0-beta.5

[2020-10-19 16:54] gjsjohnmurray commented on #8
Confirmed fixed.

[2020-10-19 16:54] #8 closed

[2020-10-19 16:55] isc-bsaviano commented on #24
I do this. Look in the breadcrumb and/or the packets that are returned by the language server using the trace. The "range" is the whole thing, including preceding docs, and the "selectionRange" is the name of the member:

[code]

[2020-10-19 16:55] isc-bsaviano commented on #25
See https://github.com/intersystems/language-server/issues/24#issuecomment-712298173

[2020-10-19 16:58] gjsjohnmurray opened #26 "Typo near start of README: "maintianed""

[2020-10-19 17:00] gjsjohnmurray commented on #26
Also, near the end of the README - "Dependecies"

[2020-10-19 17:01] gjsjohnmurray commented on #26
And in the Compatibility section "API's" should read "APIs"

[2020-10-19 17:02] isc-bsaviano commented on #24
For this example class:

[code]

The document symbols returned by the language server are:

[code]

This appears to be consistent with the description of the fields of the DocumentSymbol interface.

[2020-10-19 17:03] isc-bsaviano commented on #26
Thanks. Will be fixed for 1.0.0

[2020-10-19 17:03] #26 closed

[2020-10-19 17:05] gjsjohnmurray commented on #24
Sorry, my mistake. I wasn't testing it correctly. Closing.

[2020-10-19 17:05] #24 closed

[2020-10-19 17:06] gjsjohnmurray commented on #25
Confirmed OK.

[2020-10-19 19:10] isc-bsaviano commented on #23
[code]
This is due to #22. See https://github.com/intersystems/language-server/issues/22#issuecomment-712197614

[code]
I use the Atelier macro APIs for everything macro-related so if they don't take into account macros defined in the current file then I need to do some extra work on my end. I will ask Jamie about this when we have time.

[2020-10-19 19:11] isc-bsaviano commented on #15
@daimor Do you still see this behavior in beta.5?

[2020-10-19 19:23] daimor commented on #15
Yes, still the same

[2020-10-19 19:25] isc-bsaviano commented on #15
Does User.Test exist? That shouldn't matter but I want to try to replicate the exact scenario

[2020-10-19 19:31] daimor commented on #15
found one more place with the same issue
Yes, it's exists
![image](https://user-images.githubusercontent.com/1212251/96502649-c36d2a00-125a-11eb-9f1b-ede7f696b29d.png)

[2020-10-19 19:41] isc-bsaviano commented on #15
I still can't reproduce this no matter where the class name is located. Are you just hovering? Do you have any non-default settings that might affect this? I tried on both existing and non existing classes and local and virtual files.

[2020-10-19 19:44] daimor commented on #15
Hover with pressed command key.
And interestingly, that if the class extends only one class, it works well, but when it has more than one in parens, so, this happens.

[2020-10-19 19:44] daimor commented on #15
it's not hover event, it's definition

[2020-10-19 19:47] isc-bsaviano commented on #15
Ah, now I can see that behavior! I will investigate

[2020-10-19 19:55] isc-bsaviano commented on #15
The issue is that I return a simple Location object for definition requests instead of a more detailed LocationLink.

[2020-10-21 10:14] gjsjohnmurray opened #27 "DeprecationWarning in LS Output channel at startup"
[code]

[2020-10-21 11:59] gjsjohnmurray opened #28 "Incorrect bracket pairing in embedded SQL fragment"
![image](https://user-images.githubusercontent.com/6726799/96716527-0d5e2900-139d-11eb-93af-0a37bcc7f23e.png)

Extracted from https://github.com/intersystems-community/vscode-objectscript/issues/249#issuecomment-713516889

[2020-10-21 12:32] gjsjohnmurray opened #29 "Semantic token coloring messes up when class description comment is deleted"
![junk](https://user-images.githubusercontent.com/6726799/96719797-cc1c4800-13a1-11eb-9c52-ae52b8590dae.gif)

[2020-10-21 12:33] daimor commented on #29
I would not care yet about it, as it may have the same behavior on any changes in the code.

[2020-10-21 12:39] isc-bsaviano commented on #27
This is coming from a module that Andy uses for the bridge code.

[2020-10-21 14:28] mburstinisc opened #30 "#dim var as class = object.method() labeled as syntax error"
The following code:

In the following block of code:

	s stmt = ##class(%SQL.Statement).%New()
	s sql = "select TestID, fINT1, fVARCHAR1 from a.tab_1 where fINT1 %inlist ? and TestID in (35,122,1,153)"
	s il = $lb(1,-8989, 31,4123)
	s st = stmt.%Prepare(.sql)
	#dim strs as %SQL.StatementResult = stmt.%Execute(il)

The line:

	#dim strs as %SQL.StatementResult = stmt.%Execute(il)

is properly color

[2020-10-21 14:30] mburstinisc commented on #30
<img width="925" alt="dim syntax error" src="https://user-images.githubusercontent.com/17569403/96734308-696a8280-1388-11eb-97ac-5a185e3446d7.png">

[2020-10-21 14:41] isc-bsaviano commented on #30
I copied your code block into a test method and didn't get a syntax error. Can you post the entire method so I have the full context?

[2020-10-21 14:49] mburstinisc commented on #30
Method TestInList()
{
	s script = "inlist.sql"
	s method = ##expression(""""_%methodname_"""")
	d ..runTest(script, method)

	s runtest = ..isTestWhitelisted($classname() _ "." _ method)
	if (runtest=0) {
		quit
	}

	if (..shouldTestRun() = 0) {
		d $$$AssertSkipped("shouldTestRun = 0")
		quit
	}

	new $namespace
	s $namespace = ..master

	d $system.SQL.Purge()

	s stmt = ##class(%SQL.Statement).%

[2020-10-21 15:04] mburstinisc commented on #30
Doh!  It ends up that I was over-aggressive in my copy/paste and #dimed the variable twice

[2020-10-21 15:04] #30 closed

[2020-10-21 17:20] isc-bsaviano commented on #29
@gjsjohnmurray Can you do that again but this time inspect the semantic tokens for the words that are colored incorrectly? I want to see if the error is with the tokenizing (the token of "Class" changes to an incorrect value) or if VSCode is applying the wrong theming to the correct token.

[2020-10-21 17:56] gjsjohnmurray commented on #29
Starts with ST info for 3 chars (the length of the deleted ///):

![image](https://user-images.githubusercontent.com/6726799/96757922-06034380-13ce-11eb-8ec1-077e7110c409.png)

Then only TM:

![image](https://user-images.githubusercontent.com/6726799/96757995-1f0bf480-13ce-11eb-9213-8c14bbff6060.png)

More ST for 7 chars (the length of the deleted word 'Comment'):

![image](https://user-images.git

[2020-10-21 18:01] isc-bsaviano commented on #29
That's really ugly. There must be a problem with the semantic token edits request. The semantic tokens support is still in a "proposed" state for LSP so I can't guarantee that the issue is with this extension but I will do some investigation.

[2020-10-21 18:03] daimor commented on #29
The same issues happen even with TypeScript, so, I would keep lower in priority at the moment.

[2020-10-22 07:30] gjsjohnmurray opened #31 "Issue with syntax coloring when Japanese(UTF8) letters are included"
Logged by @IRISMeister at https://github.com/intersystems-community/vscode-objectscript/issues/411 with repro.

[2020-10-22 07:59] gjsjohnmurray commented on #31
Images from a repro from me:

![image](https://user-images.githubusercontent.com/6726799/96842195-a1cf9680-1444-11eb-8e45-9e523b8c3a7c.png)

One of the faulty tokens:
![image](https://user-images.githubusercontent.com/6726799/96842332-d17e9e80-1444-11eb-8122-51759fe8b566.png)

[2020-10-22 08:22] daimor commented on #31
The issue is just in incorrect measure of the size of Unicode symbols.

Let's try with Cyrillic
[code]
I'm surely know, that any of these chars are two bytes in size.
So, it says 8 chars, instead of 4 chars, while 8 just bytes
![image](https://user-images.githubusercontent.com/1212251/96843615-33480400-1457-11eb-9f06-b3b70c21784a.png)

And I suppose, that Japanese have 3 bytes per char. So we have

[2020-10-22 08:50] gjsjohnmurray commented on #31
Have you set something to stop LS from reporting "Class does not exist" problems?

[2020-10-22 08:52] daimor commented on #31
I just was offline ))
With no server running at all.

[2020-10-22 09:44] IRISMeister commented on #31
That correct. Each Japanese char is represented by 3 bytes in UT8 encoding.
USER>zzdump $ZCVT("商品コード","O","UTF8")

0000: E5 95 86 E5 93 81 E3 82 B3 E3 83 BC E3 83 89            å..å..ã.³ã.¼ã..

Please note, mixture of Japanese and ascii/numeric is also a valid token.
USER>zzdump $ZCVT("商品CODE","O","EUC")

0000: BE A6 C9 CA 43 4F 44 45                                 ¾¦ÉÊCODE

If encoding matters,

[2020-10-22 10:00] gjsjohnmurray opened #32 "Fails to start on a Linux container"
@daimor has a repo capable of running in GitHub Codespaces and also in a local Docker environment. Language Server fails to start when VSCode operates on the Linux environment the repo creates.

Here's how to repro the issue on a Docker-enabled  local machine (I did it on Windows 10 with Docker Desktop installed and not using WSL2):

1. Install Microsoft's [Remote Containers](https://marketplace.v

[2020-10-22 10:12] gjsjohnmurray commented on #29
@daimor can you give me a repro for this happening with TypeScript?

@isc-bsaviano here's the LS trace for my example:
[code]

[2020-10-22 10:20] gjsjohnmurray commented on #29
The original STs from when I open my class:
[code]

[2020-10-22 10:51] gjsjohnmurray commented on #29
Seems odd that deleteCount isn't a multiple of 5.

[2020-10-22 12:35] daimor opened #33 "Requests to the API does not use cookie"
Original issue report
https://github.com/intersystems-community/vscode-objectscript/issues/416

[2020-10-22 12:44] Nemesis1990 opened #34 "Go to definition (F12) throwing error"
When I try to use "Go to definition" it gives me this error:

![image](https://user-images.githubusercontent.com/6547466/96871993-4f599e80-1473-11eb-8ecc-4a208f6003b0.png)

![image](https://user-images.githubusercontent.com/6547466/96871937-3cdf6500-1473-11eb-89c6-fb077fdb04b8.png)

I can't provide a better log. That's the only message I found that is related to this message.

VSCode is up to date

[2020-10-22 12:50] BerndMueller commented on #33
this bug should be considered critical since this is affecting licensing and general service availability.

[2020-10-22 12:52] daimor commented on #33
@BerndMueller You can temporarily disable the Language server extension, for a while, until the issue will be solved.

[2020-10-22 12:55] BerndMueller commented on #33
i already tried that but it does not work for me. With that extension disabled it cannot even connect to the IRIS/CE anymore.

[2020-10-22 12:57] Nemesis1990 commented on #34
My classes having .CLS and not .cls as extension. Could be the problem here.

[2020-10-22 12:58] isc-bsaviano commented on #34
@Nemesis1990 Can you check the logs for the main vscode-objectscript extension after the go to definition request fails? If the URI that we're trying to jump to is there I may be able to see if it's malformed.

[2020-10-22 12:59] daimor commented on #33
Are you sure, that you disable the right extension?
The main extension is InterSystems Objectscript, connection controlled there, and not in Language Server, where are just some additional features.
![image](https://user-images.githubusercontent.com/1212251/96875022-6dc59700-147f-11eb-9132-ac5dc8e5cfb3.png)

[2020-10-22 13:01] daimor commented on #34
@Nemesis1990 could you say, what OS you using, is filesystems there case sensitive?

[2020-10-22 13:01] BerndMueller commented on #33
yes, i am sure. It does not work for me anymore. It starts back working after enabling it again.

[2020-10-22 13:02] daimor commented on #33
And after disabling language server, reload is required

[2020-10-22 13:03] BerndMueller commented on #33
i did a reload. I wondering that it works for you. By the way, i have v1.0.1 objectscript extension.

[2020-10-22 13:05] Nemesis1990 commented on #34
@isc-bsaviano Log from plugin is empty after error. The only output I have is in the 2nd picture from Log (Window)

@daimor It's Windows 10 so it is case sensitive. I think the case of the file-extension is the problem

[2020-10-22 13:08] gjsjohnmurray commented on #33
@BerndMueller when you were able to connect did you get prompted for username and/or password? Or have you put username in the `intersystems.servers` connection definition and used the Server Manager command to put your password into your keystore?

Another thing to try after disabling Language Server is to close your VSCode workspace and create a fresh one. There's some client side caching that m

[2020-10-22 13:23] isc-bsaviano commented on #34
@Nemesis1990 Can you please go to your settings, turn the Language Server trace to verbose, try your go to definition again and look for the response from the server in the "InterSystems Language Server" Output feed and post it here? I want to make sure the server is returning the correct URI

[2020-10-22 13:28] Nemesis1990 commented on #34
@isc-bsaviano

Interesting. I'm in my Workspace-Folder "Online-Iris" but it mentions "Online-Artikelserver" later on. Class exists in both folders. Different servers.

[code]

[2020-10-22 13:38] gjsjohnmurray commented on #34
@Nemesis1990 what does c:\Users\jochen.roese\Documents\workspaces\Online-Iris\.vscode\settings.json file contain? And does your user-level settings.json file contain an `objectscript.conn` object? I assume it does contain an `intersystems.servers` object that defines a server called `online-artikelserver`

[2020-10-22 13:40] gjsjohnmurray commented on #34
Another thought - perhaps you are suffering from #33 which causes the server to run out of licenses. What does your license usage look like in Portal on the server? And the CSP/WebApp Sessions list?

[2020-10-22 13:42] Nemesis1990 commented on #34
@gjsjohnmurray
I have it in /Online-Iris/.vscode/settings.json

[code]

settings.json in online-artikelserver:

[code]

I'm not using the new features of the server-plugin.

[2020-10-22 13:44] Nemesis1990 commented on #34
I don't think it's a license limitation. Everything else working properly at the moment.
I have this license in my local installation:

[code]

[2020-10-22 13:49] gjsjohnmurray commented on #34
Is the full filename that this comes from c:\Users\jochen.roese\Documents\workspaces\\**online-artikelserver**\\.vscode\settings.json ?

[2020-10-22 13:50] Nemesis1990 commented on #34
@gjsjohnmurray  yes it is

[2020-10-22 13:51] gjsjohnmurray commented on #34
And are you using "Open Folder" in VSCode? Or have you defined a .code-workspace file? If the latter, please post its contents here (mask any confidential info since this is a public repo).

[2020-10-22 13:53] Nemesis1990 commented on #34
I'm using workspaces.
This is the .code-workspace file:
[code]

[2020-10-22 13:57] Nemesis1990 commented on #34
Ok. In "Online-Artikelserver" the "Go to defintion" works properly for every class.

When I change between the projects the connection in the bottom of VSCode shows the correct server it should connect to.

[2020-10-22 14:04] gjsjohnmurray commented on #34
OK, so the file you had open and tried F12 from had been opened from your Online-Cache root of your multiroot workspace, but when the language-server extension (LS) asked the vscode-objectscript one (OS) for a uri it was incorrectly given `objectscript://online-artikelserver/`. Then LS asked your server at 10.8.8.222 for the class and had some kind of problem.

In the ObjectScript Explorer view in

[2020-10-22 14:14] Nemesis1990 commented on #34
@gjsjohnmurray the explorer view shows me everything as it should be. Every different server has classes in them.

[2020-10-22 14:37] gjsjohnmurray commented on #34
@Nemesis1990 I think LS is using this API function in OS (@isc-bsaviano  will confirm):

https://github.com/intersystems-community/vscode-objectscript/blob/81a8dfac58e34860b06bd04f9522c602408c76c1/src/extension.ts#L848-L866

Navigating through the code on GH I haven't yet worked out how an input uri of `file:///c%3A/Users/jochen.roese/Documents/workspaces/Online-Iris/src/API/Admin.CLS` ends up ret

[2020-10-22 14:39] isc-bsaviano commented on #34
@gjsjohnmurray The client calls that API (objectScriptApi.serverDocumentUriForUri()) when it receives a "intersystems/uri/localToVirtual" request from the server.

[2020-10-22 14:51] gjsjohnmurray commented on #34
@Nemesis1990 please download https://github.com/intersystems-community/vscode-objectscript/releases/download/v1.0.2-beta.2/vscode-objectscript-1.0.2-beta.2.vsix and install that. I think there's a chance that one of the changes in it may help. My theory is the mixed-case folder names aren't being handled correctly in 1.0.1

[2020-10-22 14:54] Nemesis1990 commented on #34
@gjsjohnmurray That didn't help. Same error.
![image](https://user-images.githubusercontent.com/6547466/96889706-28a56300-1487-11eb-8fbf-ba152594f3c8.png)

[2020-10-22 14:57] gjsjohnmurray commented on #34
@Nemesis1990 thanks for trying anyway. I'm going to set up an equivalent config here and try to reproduce the problem.

[2020-10-22 15:55] BerndMueller commented on #33
Hi Brett, you are correct. I didn't click on "later". Doing this will make the main-extension working with the language-server extension disabled. Thanks for this and fixing this 👍

[2020-10-22 16:10] gjsjohnmurray commented on #34
@isc-bsaviano the bug is here:

https://github.com/intersystems/language-server/blob/638a496c5d620457b35e6a00680b1c75123c776c/client/src/extension.ts#L61

The API expects a uri but you are passing a string.

Call it with `Uri.parse(uri)` instead of `uri`. See a few lines earlier for a similar call, which I recall got fixed in an earlier beta.

[2020-10-22 16:13] isc-bsaviano commented on #34
Yup, that's it. I'll fix this.

[2020-10-22 16:41] #34 closed

[2020-10-22 19:26] #23 closed

[2020-10-23 10:13] AlexeyM64 opened #36 "Is it possible to switch off absent classes detection?"
False positives that are being detected are associated with non-% system classes, e.g.:

set sc=##Class(Config.Databases).Get(pDB, .prop)

It's virtually impossible to recognize that the current namespace was preliminarily switched to "%SYS", so maybe it worth introducing a setting whether to consider "absent classes" problematic or not.
By the way, you already have a similar setting for MACs and

[2020-10-23 11:40] isc-bsaviano commented on #33
@BerndMueller Version 1.0.1 does not fix this issue. I will submit a new PR this morning that contains the proper fix. Please look out for version 1.0.2

[2020-10-23 13:40] isc-bsaviano commented on #36
@AlexeyM64 Can you describe the exact steps you followed to get the false negative? The LS will recompute your diagnostics if you change the namespace while the document is open so if you go from not %SYS -> %SYS, the diagnostic will go away.

[2020-10-23 13:52] jtsalten opened #38 "No intellisense when VS Code uses remote connection to an Ubuntu OS installed on WSL2 in Windows"
Hi, I normally work with two basic environments. Windows and Linux, so I have at least 2 instances running always, one in my Windows host and the other one in my Ubuntu host running on WSL2. I can connect to both of them without problems, with VS Code, Studio, Atelier,...

The issue is that the new features that come with intersystems-community.vscode-objectscript and intersystems.language-server

[2020-10-23 13:56] daimor commented on #38
Looks like a duplication of a recently reported issue #32

[2020-10-23 14:59] MaxAbrahams opened #39 "embeded &js syntax"
i think this is all valid JS, just some examples. Class compiles fine with language-server disabled.

I can provide much more detail and use cases, let me know.
![1](https://user-images.githubusercontent.com/11665665/97019723-ab2d3180-151e-11eb-8255-ce81b5fd67b7.jpg)
![2](https://user-images.githubusercontent.com/11665665/97019724-ab2d3180-151e-11eb-9979-24c3b4f85a6d.jpg)
![3](https://user-images.

[2020-10-23 15:00] isc-bsaviano commented on #39
What version of the vscode-objectscript extension are you using?

[2020-10-23 15:24] theflyingape commented on #33
I can confirm **1.0.1** did not fix the issue for us either.  It started out promising, but on the next reload, repeated challenges until our AD disable login policy kicks-in, ugh.

[2020-10-23 15:26] daimor commented on #33
It looks like the main extension has issues with cookies as well. I'm working on the fix

[2020-10-23 16:18] AlexeyM64 commented on #36
I don't see a way how can change the current namespace in the VS Code.
Even if I could, I would get much more diagnostic about other classes that were left in my "home" namespace.

[2020-10-23 16:18] #36 closed

[2020-10-23 16:27] gjsjohnmurray commented on #36
@isc-bsaviano, imagine writing code in the USER namespace that uses a class that only exists in the %SYS namespace. At edit time the target class can't be found. But the code you wrote swaps to the %SYS namespace just before the bit that uses that class. Then it swaps back later.

@AlexeyM64 did you close this issue intentionally? If not, please reopen it.

[2020-10-23 16:27] AlexeyM64 opened #40 "Is it possible to switch off absent classes detection? (2)"
(I erroneously closed the issue under the same topic, sorry for it)

False positives that are being detected are associated with non-% system classes, e.g.:

set sc=##Class(Config.Databases).Get(pDB, .prop)

It's virtually impossible to recognize that the current namespace was preliminarily switched to "%SYS", so maybe it worth introducing a setting whether to consider "absent classes" problematic

[2020-10-23 16:30] gjsjohnmurray commented on #36
OP has reopened as #40

[2020-10-23 16:33] isc-bsaviano commented on #40
@AlexeyM64 I misunderstood your original issue. John's comment on the original issue (https://github.com/intersystems/language-server/issues/36#issuecomment-715444805) clarified this for me. Yes, if you change the namespace in the class via Set $NAMESPACE or ZN, you will get imperfect diagnostics. I can add a configuration option to turn class existence diagnostics off like for routines.

[2020-10-23 16:38] gjsjohnmurray commented on #36
@AlexeyM64 sorry, I assumed the repo would allow the OP to reopen their issue. @isc-rsingh if you agree that it's reasonable to allow people to reopen their own closed issues here please make the config change on this repo.

[2020-10-23 18:08] #33 closed

[2020-10-23 18:19] #40 closed

[2020-10-24 21:27] gjsjohnmurray opened #41 "Still scope for reducing number of web sessions 1.0.2 creates"
Each time vscode-objectscript opens file using isfs, language server creates a dedicated web session for it. That session is not reused for the next file opened from the same namespace on the same server.

To repro:

1. Open Portal onto the target server. Go to System Operation, Web Sessions.
2. In VS Code create a workspace that connects to a namespace on that server using isfs.
3. Open a class.

[2020-10-26 06:44] Nemesis1990 opened #42 "Go to Definition opens file on remote when fileext is in uppercase"
When the local files are saved with uppercase file extension (e.g. Class.CLS) the extension opens the remote file with Class.cls in read-only mode when I use "Go to Definition":

![image](https://user-images.githubusercontent.com/6547466/97141176-86270180-175e-11eb-88ac-dd8862aa9a6a.png)

Language-Server Version: 1.0.2
Objectscript-Version: 1.0.3

[2020-10-26 12:02] MaxAbrahams commented on #39
1.02

[2020-10-26 12:33] isc-bsaviano commented on #39
@MaxAbrahams What's the error message that you're getting in the 3rd image? Can you paste your code here so I can attempt to reproduce this?

[2020-10-26 13:18] isc-bsaviano commented on #42
@Nemesis1990 As currently implemented, go to definition will always open the remote version of the file if the definition isn't in the current file.

[2020-10-26 14:33] isc-bsaviano commented on #38
@jtsalten What error messages do you get when you try to connect the IRIS on Linux? Is the VSCode installation also on Linux, or is it installed on Windows?

[2020-10-26 14:51] isc-rsingh commented on #36
I don't have permissions for that. Seems difficult in this organization.

[2020-10-26 15:18] jtsalten commented on #38
VSCode is installed in Windows but is able to run agains remote hosts, as the Linux distros you can have running on WSL2 on Windows. In theory it should be the same. You also decides which extensions you install when using each Remote connection... I've installed InterSystems/ObjectScript extensions for local and for Remote-WSL.

These are the messages that I got when connected to Ubuntu instance

[2020-10-26 15:21] jtsalten commented on #32
I also opened issue #38 that seems similar to this one. In my case, using VS Code, installed on Windows, accesing to an Ubuntu distro running on WSL2 on the same windows machine.

[2020-10-26 15:27] isc-bsaviano commented on #38
@jtsalten Are you launching VSCode in the Ubuntu subsystem? I'm not familiar with WSL2 but if you're launching VSCode in Linux like in this blog post (https://code.visualstudio.com/blogs/2019/09/03/wsl2#_wsl-2-and-visual-studio-code) then I think this is the same bug as #32

[2020-10-26 17:04] jtsalten commented on #32
Actually the issue seems bigger... now I cannot connect to IRIS instance Ubuntu distro in WSL2 from VS-Code. Something weird is going on here. I'll double check and perhaps open a different issue.

[2020-10-26 17:13] jtsalten commented on #38
Yes. I'm launching VS Code with "code ." from Ubuntu distro in WSL2. That just open VS Code installed on Windows with Remote-WSL extension that automatically connects with Ubuntu. It should work, shouldn't it? Till now I've been doing so without problems... but perhaps something goes wrong w.r.t IS Language Server and that Extension...

[2020-10-26 17:17] isc-bsaviano commented on #38
@jtsalten The Language Server is spawned as a separate process by the main VSCode process so if that's being spawned on the Linux subsystem then you're likely experiencing the same issue as #32.

[2020-10-26 19:19] #41 closed

[2020-10-27 10:57] Nemesis1990 commented on #42
Ok. No Problem. But that's not working when the definition is in the current file (probably file extension):

This is a local file I opened with a definition in the same file:

![image](https://user-images.githubusercontent.com/6547466/97289292-49830500-1847-11eb-8e01-bbed50c0efbb.png)

Go to Defintion opens server file:

![image](https://user-images.githubusercontent.com/6547466/97289431-76371c80

[2020-10-27 12:32] isc-bsaviano commented on #42
@Nemesis1990 I misspoke, even for class members that are in the same class the virtual version of the class will be opened. The only definitions that won't open a virtual file are go to definitions on macros or routine labels that are defined in the current class. Sorry for the confusion. I don't think that there's a bug here because simple changing the case of the file extension wouldn't change w

[2020-10-27 12:35] Nemesis1990 commented on #42
Ah ok. No Problem.

[2020-10-27 12:42] isc-bsaviano commented on #42
@Nemesis1990 Thanks for reporting anyways. If you think that opening the definition in the local file if it exists is an enhancement that would be worth considering please file it as another issue. I think this one can be closed unless you have more evidence of a bug.

[2020-10-27 13:00] Nemesis1990 commented on #42
Can be closed. I don't think it's that important atm

[2020-10-27 13:00] #42 closed

[2020-10-27 13:31] MaxAbrahams opened #44 "prompt for "use dark theme" if i'm using a dark vscode background"
I figured this one out from docs and it looks amazing! everyone could benefit.

@isc-bsaviano

[2020-10-27 13:53] isc-bsaviano commented on #44
@isc-rsingh @isc-jamien I think we should consider suggesting that users select one of our themes when the extension is activated like the main extension suggests installing the server manager.

[2020-10-27 14:14] bourette opened #45 "When using client side source control, go to definition should use the local file and not open the server version"
When using client side source control if a method or property is in the open class go to definition should not open the server side version of the class, but instead it should go to the method or property within the open class.

[2020-10-27 14:31] gjsjohnmurray commented on #42
See also #45

[2020-10-27 15:45] v23ent opened #46 "SQL Function(s) in class query"
Not sure if the problem is wider than my case, but I got a "Syntax error" in a fine working SQL:

<img width="1192" alt="Снимок экрана 2020-10-27 в 18 39 32" src="https://user-images.githubusercontent.com/12609489/97325833-71dd2480-1884-11eb-83c6-58438c63ad6f.png">

[2020-10-27 16:01] isc-bsaviano commented on #46
@v23ent Can you please paste the full text of your class query here? I will see if I can reproduce the error

[2020-10-27 16:04] v23ent commented on #46
@isc-bsaviano

[code]

[2020-10-27 16:47] isc-bsaviano commented on #46
@v23ent I copied your query into a class in VSCode and Studio and got the same syntax error in both places. The syntax looks fine to me so I'm going to pass this along to the team that maintains the parsers. Thanks for reporting this.

[2020-10-27 20:28] #44 closed

[2020-10-27 21:19] mvhenderson opened #47 "Different semantic tokens for SQL columns vs tables"
Enhancement request to provide different semantic tokens for SQL columns and tables. Currently both use `SQL_Identifier` and thus cannot be colored differently.

[2020-10-28 04:14] mvhenderson opened #48 "Add .gitignore for OS files"
For example macOS `.DS_Store`

Good defaults here https://github.com/github/gitignore/blob/master/Global/macOS.gitignore

[2020-10-28 08:08] v23ent opened #49 "Cube Definition syntax highlight bug"
You can see it on a screenshot.
Not sure if it's somehow influenced by Cyrillic chars...

<img width="1154" alt="Снимок экрана 2020-10-28 в 11 02 05" src="https://user-images.githubusercontent.com/12609489/97408615-63871b00-190d-11eb-8267-49ead6f31397.png">

[code]

[2020-10-28 08:29] gjsjohnmurray commented on #49
Probably a duplicate of #31

[2020-10-28 12:53] isc-bsaviano commented on #49
@v23ent Closing this since it's a duplicate.

[2020-10-28 12:53] #49 closed

[2020-10-28 13:15] #48 closed

[2020-10-28 13:25] isc-bsaviano commented on #45
@bourette I spoke with @isc-jamien and we determined that this isn't feasible. Since the server can't guarantee that local files are named properly (i.e. /User/test.cls really corresponds to User.test), that classes aren't duplicated or that the local copy is in sync with the server, we agreed that the server should be the "source of truth".

[2020-10-28 13:51] daimor commented on #45
I disagree with this, current behavior is a regression and have to be fixed, to be the same as previously with ObjectScript extension

Go to server's file, while working locally, and having it locally, make no sense at all.
It makes it much more difficult to work.

Developer expects Go To defintion, will open a local file which will be possible to edit, but not read-only file.

[2020-10-28 13:54] isc-jamien commented on #45
@daimor we will discuss at the PMC

[2020-10-28 14:06] isc-bsaviano opened #50 "Go to definition for method of current class in client-side editing mode shouldn't open server version"
Suggested by @bourette

[2020-10-28 14:30] gjsjohnmurray commented on #50
Arose from #45

[2020-10-28 14:44] #27 closed

[2020-10-28 14:58] gjsjohnmurray commented on #50
The approach used by the ObjectScript Explorer (OE) view may be worth taking. Here's a screenshot of client-side development in a namespace for which I have only exported a subset of the classes, namely the Codis package:

![image](https://user-images.githubusercontent.com/6726799/97450738-f5515100-192a-11eb-9871-31e72b1a4803.png)

Notice how classes in Codis get an icon, but classes in WebTermina

[2020-10-28 15:02] isc-bsaviano commented on #50
@gjsjohnmurray This issue is for the specific case where the class member that we're looking up is in the local file that you have open already so I don't need to generate a new URI. We should keep the discussion for the general case on #45

[2020-10-28 15:18] gjsjohnmurray commented on #50
@isc-bsaviano sure, in which case please reopen #45.

[2020-10-28 15:37] gjsjohnmurray commented on #45
The approach used by the ObjectScript Explorer (OE) view may be worth taking. Here's a screenshot of client-side development in a namespace for which I have only exported a subset of the classes, namely the Codis package:

![image](https://user-images.githubusercontent.com/6726799/97450738-f5515100-192a-11eb-9871-31e72b1a4803.png)

Notice how classes in Codis get an icon, but classes in WebTermina

[2020-10-28 15:40] isc-bsaviano commented on #45
I think that if the PMC decides that we should implement this, exposing the DocumentContentProvider:getUri() function as an exported API (maybe with some modification because the LS doesn't have knowledge of workspaces currently) will be necessary.

[2020-10-28 15:40] gjsjohnmurray commented on #31
@isc-bsaviano is a resolution for this issue in sight? At the moment LS isn't showing its best face to folk who use characters above ASCII 127.

[2020-10-28 15:41] isc-bsaviano commented on #31
Yes it is. This will be fixed in version 1.0.4, which I'm hoping to get out today.

[2020-10-28 15:58] #50 closed

[2020-10-28 16:45] isc-bsaviano commented on #46
@v23ent Fixed in version 1.0.4

[2020-10-28 16:45] #46 closed

[2020-10-28 16:46] isc-bsaviano commented on #31
@gjsjohnmurray @IRISMeister Fixed in version 1.0.4

[2020-10-28 16:46] #31 closed

[2020-10-28 17:28] gjsjohnmurray opened #51 "New messages about debugger listening"
Issue Type: <b>Bug</b>

A couple of messages in the LS output channel that I don't recall seeing prior to 1.0.4
[code]

Extension version: 1.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18363

[2020-10-28 17:32] gjsjohnmurray commented on #49
@v23ent please update Language Server to 1.0.4 and verify this is fixed.

[2020-10-28 17:34] isc-bsaviano commented on #51
I'm pretty sure this was always there

[2020-10-28 17:37] gjsjohnmurray commented on #51
OK. Any downside to having production build of LS do this on everyone's machines?

[2020-10-28 17:40] isc-bsaviano commented on #51
I have no idea. That's not coming from any settings that I configured manually.

[2020-10-28 17:44] daimor commented on #51
It may happen if you run ObjectScript extension under debugging, and Language-Server switch on debugging as well.

[2020-10-28 18:04] isc-bsaviano commented on #51
Is this actually a bug?

[2020-10-28 18:05] daimor commented on #51
No, for me it looks like this works as it supposed to be

[2020-10-29 00:24] gjsjohnmurray commented on #51
@daimor is right. I was debugging the vscode-objectscript extension at the time. Closing this issue.

[2020-10-29 00:24] #51 closed

[2020-10-29 00:37] gjsjohnmurray opened #52 "Request textDocument/documentSymbol failed with message: Cannot read property 'p' of undefined"
Issue Type: <b>Bug</b>

Create this test class:

[code]
Put your cursor at the end of the property definition line, after the semicolon.

Backspace to remove the contents.

When you delete the first character of the property name (i.e. the f), expect to see this message in Language Server's output channel:
[code]

Extension version: 1.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd706

[2020-10-29 09:44] gjsjohnmurray opened #53 "Become a FoldingRangeProvider"
Issue Type: <b>Feature Request</b>

Currently the vscode-objectscript extension does this, but LS should be able to do an even better job.

Extension version: 1.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18363

Checklist (will be updated by @isc-bsaviano as new ideas are added and old ones are completed):

-

[2020-10-29 09:47] gjsjohnmurray commented on #29
I noticed this happen again yesterday when I was deleting code within a method of a class. So the scope of the problem seems to be more that just the class comment.

[2020-10-29 12:41] isc-bsaviano commented on #52
@gjsjohnmurray What should the expected behavior be when you have improperly formatted UDL? Return all DocumentSymbols computed until you hit the error?

[2020-10-29 13:07] isc-bsaviano commented on #52
@gjsjohnmurray I followed your steps but didn't get an error when I deleted the "f" in "foo". The request completed successfully and the "Property" DocumentSymbol was still there, just without the "foo" label.

[2020-10-29 14:10] isc-bsaviano commented on #53
@gjsjohnmurray What sort of things would you want us to fold? I just spoke with @isc-jamien and here's some initial ideas that we came up with:
- UDL documentation comments (already exists)
- COS code blocks (if, else, try, catch, loops etc)
- XML/Storage tags
- COS preprocessor code blocks? (#ifdef etc)
- JSON (in XData blocks, %DynamicObjects?)

Please post any other ideas here so we can keep a

[2020-10-29 19:34] isc-bsaviano commented on #53
More ideas:
- Multi-line macro definitions (using ##continue)
- Embedded code blocks (&sql,&html,&js)

[2020-10-29 21:04] gjsjohnmurray commented on #52
Try it with this one:
[code]

Again, delete backwards from the end of the Property line.

Here's what I see:

![junk](https://user-images.githubusercontent.com/6726799/97632278-34b29700-1a2a-11eb-9684-407678e78ec8.gif)

This class is opened direct from the server using isfs.

[2020-10-29 21:23] gjsjohnmurray commented on #53
- Dotted DO blocks (for old-school MUMPS programmers).

Also, keep in mind that though LSP supports  within-line folding, VS Code only supports linewise folding.

[2020-10-29 21:37] isc-bsaviano commented on #53
@gjsjohnmurray Ok that explains why my within-line folding wasn't working. I submitted an issue on the LSP page so I guess I should close that. Is there an issue on the main vscode repo that I can thumb up to get that resolved?

[2020-10-29 21:50] isc-bsaviano commented on #53
Found and upvoted it: https://github.com/microsoft/vscode/issues/50840. Unfortunately it doesn't seem like we'll be getting this anytime soon so I'll modify my implementation to only provide folding ranges when it visually makes sense.

[2020-10-30 12:38] isc-bsaviano commented on #52
@gjsjohnmurray I can reproduce it now. I'll fix this for the next version

[2020-10-30 13:24] #52 closed

[2020-10-30 13:48] isc-bsaviano opened #54 "Completion request fails when "." is typed as first non-whitespace character on a line"

[2020-10-30 13:53] #54 closed

[2020-10-30 18:55] isc-bsaviano opened #55 "Hover fails on Embedded SQL identifier that is the first word on the line"

[2020-10-30 18:57] #55 closed

[2020-11-02 12:57] MaxAbrahams opened #56 "attempt to zw the value of a returned object is highlighted as a syntax error"
[code]
![image](https://user-images.githubusercontent.com/11665665/97870392-ec70ce80-1ce0-11eb-93f3-756af47f6b39.png)

[2020-11-02 12:58] MaxAbrahams commented on #56
i could express Foo() as:
[code]

but there's value to using zw instead

[2020-11-02 14:20] mvhenderson commented on #53
For your consideration:

* When folding comment blocks allow folding any multiline comment 2+ lines. Right now it seems to only work with 6+ lines
* Consider simplifying folding logic to be indent/brace based, with some smarts around when brace on a newline and for comments.
* Add support for special decorators, eg `#; @begin-section` and `#; @end-section

Also ability to fold multi-line commands.

[2020-11-02 14:41] isc-bsaviano commented on #53
@mvhenderson The LS folding range implementation will support folding documentation comments of 2+ lines. The other two bullet points should be posted as separate enhancement requests

[2020-11-02 15:05] bourette opened #57 "Parameter value and type do not match"
Issue Type: <b>Bug</b>

Language server reports Parameter value and type do not match for macro, ie
Parameter RESOURCE As STRING = {$$$HSHubManagement};

Extension version: 1.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 19.6.0

[2020-11-02 15:08] mvhenderson opened #58 "Provide a CONTRIBUTING.md"
Looking for a `CONTRIBUTING.md` similar to the `vscode-objectscript` project to help those of us new to working with the VSCode stack. Ideally would cover how to run all the objectscript simultaneously in dev/debug mode.

[2020-11-02 15:15] daimor commented on #58
This extension is not ready for contribution, yet. Due to missing some of the binaries in public. When this issue will be solved, it will be possible to provide a way how to run it. But anyway, VSCode supports to run only one extension in the debug mode. But this extension uses a language server, which will be in debug mode as well if any extension is under debugging.

[2020-11-02 15:36] isc-bsaviano commented on #57
@bourette The LS checks if the token immediately following the "=" is a string literal if the declared type is STRING. There's no way for it to know that a macro will resolve to a string. I will discuss with the Jamie about the best way to handle gaps like this in the parameter checking. While we figure this out you can turn parameter diagnostics off in the extension settings.

[2020-11-02 15:45] mvhenderson commented on #58
Fair enough. There are a few bugs I was hoping to gather more detail on before submitting issue. Both deal with theme/syntax-highlighting are are difficult to reproduce consistently but only happen when semantic highlighting is enabled. I'll see how far debugging the `vscode-objectscript` extension gets me.

[2020-11-02 15:45] #58 closed

[2020-11-02 15:47] isc-bsaviano commented on #57
@bourette Jamie and I decided that if you declare a parameter type as STRING and the right hand side is a COS expression, we're going to assume that the user knows what they're doing and not report the warning.

[2020-11-02 15:53] mvhenderson opened #59 "Fold based on indent"
Add ability to fold based on indent in addition to the scenarios outlined by #53

This would cover multiple scenarios such as conditional and loop blocks that use braces, as well as multiline commands (e.g. a `$Case` expression with a case per line).

Currently you could set `editor.foldingStragegy = indentation` but then the smart folding for comments and other stuff is lost.

[2020-11-02 15:56] isc-bsaviano commented on #57
@bourette According to our docs, your syntax is wrong. You're not supposed to type a parameter when using curly braces: https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GOBJ_parameters#GOBJ_parameters_curly

I'm closing this issue because it's not a bug with the LS

[2020-11-02 15:56] #57 closed

[2020-11-02 21:02] isc-bsaviano commented on #53
@mvhenderson I just added region markers to my to-do list above.

[2020-11-03 16:40] mcronin117 opened #60 "Double quotes in an embedded SQL statement (needed when using reserved words) is marked as syntax error"
When an embedded SQL statement has double quotes in a macro around a column name to be selected, it is highlighted as a syntax error.  The double quotes in some cases must be used, in this example because the Date column is using a property name that turns out to be a reserved word
https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=RSQL_RESERVEDWORDS

Ex: &SQL(select "Dat

[2020-11-03 17:20] #53 closed

[2020-11-04 17:49] mat1990dj opened #61 "Support "Go to references" VSCode feature"
This VSCode feature allows you in other languages to find the usages of the selected class, method, variable, etc,... but knowing its context.

If you select for instance a variable inside a method, it will show the usages for that specific variable, and not if the same name is used in another method, similar to the usage of a method, it will show the usages of the method of that class A, if a cla

[2020-11-04 22:19] isc-bsaviano opened #62 "DocumentSymbol doesn't cover full range of multi-line macro definition"

[2020-11-05 00:26] #62 closed

[2020-11-05 15:21] isc-bsaviano opened #63 "Don't provide completion suggestions inside a comment"

[2020-11-05 15:23] #63 closed

[2020-11-05 16:33] joelsolon opened #64 "Code completion needs to understand that %<classname> is shorthand for %Library.<classname>"
The code completion suggestions should be improved to include the shorthand way to refer to classes in the %Library package.

For example, If you type “property I as %Inte” you get a suggestion for %CPP.Integer which is not what you want; you just want %Integer but you have to pick %Library.Integer to get that one. The problem is that %Integer is acceptable and common, but the only way to get %Int

[2020-11-05 16:37] joelsolon commented on #16
Related to this (or perhaps a separate issue): the list that appears when you type the $ shows the functions in upper case. Does it make sense that the setting `"intersystems.language-server.formatting.system.case": "lower"` should cause the functions to appear in lower case?

[2020-11-05 16:39] isc-bsaviano commented on #16
@joelsolon That's unrelated. Please file your suggestion as a separate issue.

[2020-11-05 16:41] joelsolon opened #65 "Make code completion suggestions appear correctly within snippets"
If you type “prop” and accept the “property” snippet, after you type the name of the property and advance to the datatype, no automatic suggestions appear when you want to change it from %String by typing "%". Same thing happens with the “class method” snippet for the return type of the method. Even if you use Ctrl-Space you don’t get the correct list of suggestions. You have to use backspace and

[2020-11-05 16:45] isc-bsaviano commented on #64
@joelsolon The LS populates that list using %Library.RoutineMgr_StudioOpenDialog, which returns the %Library classes in the long form. There isn't an option for me to change that in the query, so I'd have to filter that manually on the TypeScript side. I can do that, but not everyone may want that behavior. I'll discuss this with Jamie

[2020-11-05 16:45] joelsolon opened #66 "Suggestions for $functions and variables should follow system.case settings"
The list of functions that appears when you type the $ shows the functions in upper case. Can the setting "intersystems.language-server.formatting.system.case": control the case? For example, "lower" should cause the functions to appear in lower case.

[2020-11-05 16:55] isc-bsaviano commented on #65
@joelsolon This is a limitation of the way completions are triggered in VSCode. They're either triggered manually by keystroke (Ctrl-Space I think) or by typing a trigger character (space is one for ObjectScript). Since the snippet inserts the space for you, the completion doesn't trigger.

[2020-11-05 17:14] joelsolon commented on #65
I see. Is it possible to make the Ctrl-Space **after** typing % and zero or more characters present the correct list?

[2020-11-05 17:16] joelsolon commented on #64
It is standard behavior in Studio and that other IDE we used to support.

[2020-11-05 17:36] isc-bsaviano commented on #64
Ok, I will change the behavior to match Studio.

[2020-11-05 17:37] isc-bsaviano commented on #65
I need to do some more research on snippets to see what's possible. I didn't write them; they're coming from the main extension.

[2020-11-05 17:44] gjsjohnmurray commented on #65
The default requirement to trigger completions manually when typing a value into a snippet placeholder is explained in https://github.com/microsoft/vscode/issues/107742#issuecomment-701181250

[2020-11-05 17:59] #64 closed

[2020-11-05 18:02] isc-bsaviano commented on #65
Looks like there isn't any action that we can take here

[2020-11-05 18:39] bourette opened #67 "Signature help logic"
Issue Type: <b>Bug</b>

Start typing a call to a method with multiple parameters ie Do ..Write() the signature help appears, enter a comma it'll highlight the next item, remove the comma but it does not move the highlight.

Extension version: 1.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 19.6.0

[2020-11-05 19:01] isc-bsaviano opened #68 ""Class without super" snippet produces an error"
See https://github.com/intersystems-community/vscode-objectscript/issues/481

@joelsolon

[2020-11-05 19:05] isc-bsaviano opened #69 "Update class definition regex to support unicode characters"
See https://github.com/intersystems-community/vscode-objectscript/pull/476#issuecomment-722566334

[2020-11-05 20:30] #69 closed

[2020-11-05 20:34] #65 closed

[2020-11-05 20:36] isc-bsaviano commented on #68
@joelsolon I haven't been able to reproduce this error. Is there anything else in the file when you do the snippet? Does the error pop up immediately after the snippet appears, or after you start typing the class name?

[2020-11-05 20:44] joelsolon commented on #68
New file is completely empty. Error pops up immediately, every time. This is VS Code on a Mac (10.14.6).
I just tried every other snippet available in an empty file (from a to z) and none of them cause this problem except for this one.

[2020-11-05 20:52] isc-bsaviano commented on #68
@joelsolon Ok I see it now. I had to roll back to version 1.0.4. Using by beta build of 1.0.5, this error doesn't appear. One of my fixes for another bug must have fixed this as well. I'll leave the issue open for now and once 1.0.5 is out you can revisit this issue and close it if you're satisfied with 1.0.5.

[2020-11-06 13:35] isc-bsaviano opened #70 "Exception "Request textDocument/hover failed" in &sql with line-breaks"
See https://github.com/intersystems-community/vscode-objectscript/issues/487

@copperschnack

[2020-11-06 13:54] #66 closed

[2020-11-06 14:03] isc-bsaviano commented on #70
@copperschnack I copied your example method into a class and was able to reproduce your error using version 1.0.4, but not my beta build of 1.0.5. I'm going to leave this issue open for now and when 1.0.5 comes out you can check if this is fixed and then close this issue.

[2020-11-06 14:34] isc-bsaviano commented on #70
Closing because this is a duplicate of #55

[2020-11-06 14:34] #70 closed

[2020-11-06 15:24] isc-bsaviano opened #71 "Override method command"
From https://github.com/intersystems-community/vscode-objectscript/issues/118

@mvhenderson

[2020-11-06 16:41] gjsjohnmurray opened #72 "Dotted-DO folding is too greedy"
Testing with 1.0.5-beta.1 on some legacy INT code that uses dotted-DO structuring and semicolon commenting.

Before folding:
![image](https://user-images.githubusercontent.com/6726799/98391424-8bcdf280-204e-11eb-95ac-90e4b14d6141.png)

After folding:
![image](https://user-images.githubusercontent.com/6726799/98391533-af913880-204e-11eb-8bc9-bb427f4e64a5.png)

Lines 409 and 410 should not be includ

[2020-11-06 16:49] gjsjohnmurray opened #73 "Subroutine folding is too greedy"
Testing 1.0.5-beta.1 with legacy INT code whose style is that subroutines are documented in comments immediately above the label.

Before folding:

![image](https://user-images.githubusercontent.com/6726799/98392201-95a42580-204f-11eb-917d-13aed06be4d2.png)

After folding:

![image](https://user-images.githubusercontent.com/6726799/98392322-c08e7980-204f-11eb-909c-1f7349f38ee9.png)

Lines 181 and

[2020-11-06 16:58] isc-bsaviano commented on #73
@gjsjohnmurray Should the whitespace lines like 189 & 190 be folded?

[2020-11-06 17:15] gjsjohnmurray commented on #73
That's debatable. Personally I'm OK with the whitespace lines disappearing in the fold, since they don't really add information in the situation where I'm folding in order to get an overview.

[2020-11-06 17:18] gjsjohnmurray opened #74 "Be an EvaluatableExpressionProvider"
See docs [here](https://code.visualstudio.com/api/references/vscode-api#EvaluatableExpressionProvider).

Will resolve https://github.com/intersystems-community/vscode-objectscript/issues/486

[2020-11-06 17:22] isc-bsaviano commented on #74
I don't think this is part of the LSP: https://microsoft.github.io/language-server-protocol/specifications/specification-current/

[2020-11-06 17:23] isc-bsaviano commented on #73
Ok I will fold the whitespace but not comments that immediately precede routine labels

[2020-11-06 17:40] #72 closed

[2020-11-06 17:43] gjsjohnmurray commented on #74
No, but couldn't your extension activate() register an instance of a class you write that implements vscode.EvaluatableExpressionProvider and uses custom messages to delegate the work to your language server?

[2020-11-06 17:44] isc-bsaviano commented on #74
Yes, that would be a possibility.

[2020-11-06 17:53] #73 closed

[2020-11-09 01:43] isc-solon opened #75 "Problem reported for valid ##class("classname") syntax"
Quotes are apparently allowed within ##class statements: set person = ##class("Sample.Person").%New()

But VS Code displays "Class '"Sample.Person"' does not exist. InterSystems Language Server [21,22]"

[2020-11-09 12:56] gjsjohnmurray commented on #71
The Java extension does it by contributing a Code Action which operates like this:

https://code.visualstudio.com/docs/java/java-refactoring#_overrideimplement-methods

[2020-11-09 13:32] isc-bsaviano commented on #71
@gjsjohnmurray That's a good way of doing it. My original idea was to do it through completion: when you type Method/ClassMethod and hit space, you get a bunch of suggestions for Methods/ClassMethods that are inherited from your superclasses and hen you select one, it inserts the method stub with correct formal spec and description.

[2020-11-09 13:45] isc-bsaviano commented on #75
@isc-solon I just checked this in Studio and I found that using ##class("Sample.Person") isn't supported. For example, I get a compilation error on this line, but wouldn't if I removed the quotes:
`w ##class("%DynamicObject").%New()`

[2020-11-09 15:09] isc-bsaviano opened #76 "Properly handle quoted class member identifiers"
Arose from investigation of #75

[2020-11-09 17:52] isc-solon commented on #75
I knew this would be a weird one. First of all, the syntax you typed above works in Terminal. I don't know why it works, or if it's really supposed to work, but it works. In VS Code, try `w ##class("%Library.DynamicObject").%New()` and you'll see it compiles (which probably means it compiles in Studio also). The only reason I'm pointing this out is that I have a class whose **generated** code cont

[2020-11-09 18:05] isc-bsaviano commented on #75
I just tried `w ##class("%Library.DynamicObject").%New()` in Studio and it compiled. I guess quoted class names are allowed if they are fully qualified. The reason you're getting the "class does not exist" error is that the parser considers the quotes as part of the class name, and I'm not stripping them out. Therefore, it's querying the DB looking for "%Library.DynamicObject".cls, which fails

[2020-11-09 18:06] isc-solon commented on #75
I'm checking internally about this syntax and will report back.

[2020-11-09 18:07] #76 closed

[2020-11-09 20:27] mvhenderson opened #77 "Namespace aware linter"
Certain tasks require switching namespaces, for example

[code]

Currently the linter marks lines with classes not under the `objectscript.conn.ns` as errors (in this case "Class Security.Applications does not exist).

It would be nice if the language-server linter was able to deduce the namespace though I understand the difficulty of that. So how about directives such as `// @isc-lint-namespace %

[2020-11-09 21:38] mvhenderson opened #78 "Explorer view should always show what is on the server"
Related to #45 and #50 I think.

When browsing the class tree from the Objectscript Explorer VS Code will always show the local exported copy of the file. This leaves no way to see what is actually on the server.  I expected the explorer to be analogous to the Atelier server tab.

Steps to reproduce:

1. export a file
2. modify the file outside VS code (e.g. a `git pull` or fake it using `vi`)
3.

[2020-11-09 22:25] isc-bsaviano commented on #78
@mvhenderson The ObjectScript Explorer is provided by the main extension and is not modified by the Language Server. Unless I'm misunderstanding you, this issue should be posted to the main extension's repository.

[2020-11-09 22:35] mvhenderson commented on #78
OK - I thought this might be an artifact of the language server since I don't recall seeing this before.

[2020-11-09 22:35] #78 closed

[2020-11-10 14:14] #67 closed

[2020-11-10 14:27] isc-bsaviano opened #79 "Add Folding Ranges for ObjectScript code blocks"
Addition to functionality added for #53

[2020-11-10 14:32] bourette opened #80 "Invoking signature help on existing methods"
Issue Type: <b>Feature Request</b>

It would be nice if adding a new parameter would re-invoke the signature help.  Currently you would need to remove all parameters and re-add ( for the help to be invoked.  If "," could be used as a trigger character that would improve the interaction.

Extension version: 1.0.5-beta.4
VS Code version: Code 1.51.0 (fcac248b077b55bae4ba5bab613fd6e9156c2f0c, 2020-11

[2020-11-10 17:35] #79 closed

[2020-11-10 18:26] #80 closed

[2020-11-12 00:40] isc-solon opened #81 "Provide completion suggestions for class member attributes (within [])"
Control-space inside [ ] after a property should suggest things like Required, Calculated, etc.
Inside [ ] after an index should suggest things like Unique, Type = , etc.

[2020-11-12 11:55] daimor opened #82 "Incorrect destination go to definition"
Go to definition offers an incorrect method, and goes to `%DeleteData` instead of `Delete`

![image](https://user-images.githubusercontent.com/1212251/98936781-7c3f2580-24f6-11eb-92ef-2aa771d41a06.png)

[2020-11-12 12:05] daimor opened #83 "Support for renaming variables"
By F2 on a variable, it should offer a way to rename a variable, and change every occurrence in the code.
It's part of refactoring features, available in VSCode.

[2020-11-12 13:24] isc-bsaviano commented on #81
@isc-solon This is implemented already. To trigger the completion for UDL trailing keywords and their values, you need to type a space while inside the opening brace.

[2020-11-12 13:28] isc-bsaviano commented on #82
@daimor I was able to reproduce this on 1.0.4 but not my latest beta build of 1.0.5. Can I send you a 1.0.5 beta so you can verify that the bug is fixed there?

[2020-11-12 13:30] daimor commented on #82
Yeah, let me try it

[2020-11-12 13:33] daimor commented on #82
solved

[2020-11-12 13:33] #82 closed

[2020-11-12 14:20] isc-bsaviano commented on #68
@isc-solon Version 1.0.5 is now live. Can you please verify that this issue has been fixed and if so, close it?

[2020-11-12 16:55] gjsjohnmurray commented on #83
In other words, be a [RenameProvider](https://code.visualstudio.com/api/references/vscode-api#RenameProvider).

[2020-11-12 16:57] isc-bsaviano commented on #83
@daimor @gjsjohnmurray I will add a rename provider that supports renaming for local variables (declared and undelcared) and parameters.

[2020-11-12 17:57] gjsjohnmurray opened #84 "Be a TypeDefinitionProvider"
See https://code.visualstudio.com/api/references/vscode-api#TypeDefinitionProvider for how VS Code will use this capability.

[2020-11-12 18:10] isc-bsaviano commented on #84
@gjsjohnmurray Can you explain what you'd expect the behavior to be for type definition requests? Would the behavior be that if you did a type definition request on a declared local variable or typed method argument you'd get taken to the class definition? For example, "go to type definition" on "a" in the method below would take you to %Dictionary.CompiledClass?

[code]

[2020-11-12 19:34] gjsjohnmurray commented on #84
@isc-bsaviano yes, that would be my expectation.

By "declared local variable" I assume you mean one for which a #dim directive exists.

At some point it would be good to extend this to infer the type of a variable assigned from a ##class(Foo.Bar).%New() etc, and even beyond that.

[2020-11-12 19:37] isc-bsaviano commented on #84
@gjsjohnmurray Ok I understand. Yes, by "declared local variable" I mean a local variable that has been #Dim'ed. Adding in type inferencing is a major enhancement that is beyond the scope of this issue so I won't comment on it here.

[2020-11-12 21:41] isc-solon commented on #75
Quoted classnames are valid syntax.

[2020-11-12 21:49] isc-solon commented on #68
Looks good to me

[2020-11-12 21:53] #68 closed

[2020-11-12 23:27] gjsjohnmurray opened #85 "Folding of class Storage section is incorrect"
Issue Type: <b>Bug</b>

Before folding:
![image](https://user-images.githubusercontent.com/6726799/99008524-43c33a00-253e-11eb-935e-c3ce73979616.png)

After folding at the { which begins the Storage block:

![image](https://user-images.githubusercontent.com/6726799/99008618-6e14f780-253e-11eb-8f7e-558e562a03e2.png)

I expected it to fold as far as line 17.

Extension version: 1.0.6-beta.1
VS Code

[2020-11-13 06:36] daimor commented on #83
Tested in beta, looks good

[2020-11-13 13:35] #83 closed

[2020-11-13 13:53] #85 closed

[2020-11-13 14:16] #75 closed

[2020-11-13 16:32] isc-bsaviano opened #86 "Issue with syntax highlighting of comments"
See https://github.com/intersystems-community/vscode-objectscript/issues/406

Originally posted by @isc-aray

[2020-11-13 16:32] #81 closed

[2020-11-16 14:22] isc-aray opened #87 "Frequent errors reported with incomplete code"
Issue Type: <b>Bug</b>

Certain code fragments cause the server to start sending frequent error messages that get displayed in the Output panel. This can happen quickly enough that it may trigger several times while entering a single line of code, which is very distracting.

The error is

[code]

An example line that produces this issue is

[code]

Extension version: 1.0.5
VS Code version: Code 1.

[2020-11-16 15:15] #87 closed

[2020-11-17 13:28] isc-aray opened #88 "Properly handle retrigger signatureHelp requests that don't contain an active signature"
Issue Type: <b>Bug</b>

Sometimes while I'm writing code, I get the following error:

[code]

I'm not sure exactly what causes this to happen, but it seems to be related to trying to look up method documentation while inside a macro invocation. For example, the most recent occurrence was while typing the following line:

[code]

I've also seen this error show up in the following code:

[code]

Ext

[2020-11-17 13:49] isc-bsaviano commented on #88
@isc-aray In those 2 examples, where is your cursor when you get the error? Inside of the ##super()/$SYSTEM.Status.GetErrorText()? Does it appear when you type inside the parentheses or after you type the opening "("?

[2020-11-17 13:56] isc-bsaviano opened #89 "Properly parse macro arguments that contain () for hover expansion"
Arose from investigation of #88

[2020-11-17 13:57] isc-aray commented on #88
I believe it does happen after typing the opening parenthesis after ##SUPER or $SYSTEM.Status.GetErrorText. It's hard to say for certain, since it isn't reliably reproducible and it's difficult to judge these things when typing quickly.

[2020-11-17 13:58] isc-bsaviano commented on #88
@isc-aray Ok, I'll try to reproduce it.

[2020-11-17 14:16] isc-bsaviano opened #90 "Return macro definition for hover documentation if expansion fails"
Arose from investigation of #89

[2020-11-17 14:19] #89 closed

[2020-11-17 14:29] #90 closed

[2020-11-17 14:39] isc-bsaviano opened #91 "CSP Runtime Expressions cause colour issue when used on tag attribute"
Moved from https://github.com/intersystems-community/vscode-objectscript/issues/517

[2020-11-17 14:40] isc-bsaviano commented on #91
@taulim Can you please post the full text of your test CSP file so I can reproduce your coloring error?

[2020-11-17 14:54] isc-bsaviano commented on #88
@isc-aray I manually typed both of your examples but couldn't reproduce this error. When I type a line where you have nested macro/methods that both have a SignatureHelp (`$$$QuitOnError($SYSTEM.Status.GetErrorText(sc))`), typing the second `(` doesn't cause an error or open a new SignatureHelp. This is the expected behavior based on the current implementation.

[2020-11-17 14:57] Taulim commented on #91
Sure!

[code]

[2020-11-17 15:01] MaxAbrahams commented on #39
Hi Brett; are you still looking for code samples? I know we talked via IM after the above message but just wanted to follow up.

[2020-11-17 15:02] isc-bsaviano commented on #39
@MaxAbrahams Andy is working on this issue now and is making progress. It brought to light some shortcomings of our JS parser that are taking some time to fix.

[2020-11-17 15:04] isc-bsaviano commented on #91
@Taulim What theme are you currently using? InterSystems Default Dark?

[2020-11-17 15:21] isc-aray commented on #88
Unfortunately, it isn't consistent. It just happens occasionally and I'm not sure how to make it happen reliably.

[2020-11-17 15:22] Taulim commented on #91
At the moment the Dark+ default of vscode.
I did try switching to the InterSystems Default Dark but the problem seems to still be present.

Also, in case this helps:
- Cache (2018.1.3) is running on Windows 10 (1909)
- Extension set to edit files on the server-side
- VSCode (1.51.1) running on Pop_OS (20.10)

[2020-11-17 15:24] isc-bsaviano commented on #88
Ok. I'll leave this issue open and if you find any more examples or a way to reproduce this let me know. I'll keep trying but there's nothing I can do if I can't examine the issue myself.

[2020-11-17 15:30] isc-bsaviano commented on #91
@Taulim I copied your code into my VSCode using the InterSystems Default Dark theme and I think that there are two issues at play here:

1. VSCode support for semantic tokens is still in a "proposed" state, which leads to some odd behavior when editing files (see #29). This isn't a bug in this extension.
2. The InterSystems Default themes don't explicitly color all tokens currently, so the old Tex

[2020-11-17 15:31] isc-bsaviano opened #92 "Edit default themes to explictly color all tokens"
Arose from investigation of #91

[2020-11-17 15:59] #92 closed

[2020-11-17 17:06] bourette opened #93 "Adding comment causes A request has failed error"
Issue Type: <b>Bug</b>

Update a method inserting new line tab//m( causes A request has failed. See the output for more information

Extension version: 1.0.5
VS Code version: Code 1.51.0 (fcac248b077b55bae4ba5bab613fd6e9156c2f0c, 2020-11-05T18:14:40.758Z)
OS version: Darwin x64 19.6.0

[2020-11-17 17:23] isc-bsaviano commented on #93
@bourette Can you turn your trace on and let me know what request failed and the error message given?

[2020-11-17 17:24] isc-bsaviano commented on #91
Closing this because there are no more actions to be taken

[2020-11-17 17:24] #91 closed

[2020-11-17 17:30] isc-bsaviano commented on #93
@bourette Never mind, I was just able to reproduce it. It's a SignatureHelp request. I'll fix my logic so it doesn't try to compute SignatureHelp info when the `(` is in a comment

[2020-11-17 17:32] #93 closed

[2020-11-18 10:52] Taulim commented on #91
@isc-bsaviano, thank you for the explanation.
It does indeed makes sense, I have disabled the semantic highlight on vscode and it stop some of the weirdness after the tag but it "breaks" another tag (e.g. csp:include).

[2020-11-18 13:28] isc-bsaviano commented on #91
@Taulim Do you want me to take a look at csp:include tag issue? If you paste some example code I can verify that it's not separate issue.

[2020-11-18 14:05] Taulim commented on #91
@isc-bsaviano, It is not required for only one tag as it will happen to all the [other](https://cedocs.intersystems.com/latest/csp/docbook/Doc.View.cls?KEY=RCSP_CSPTAGS) csp tags as well.
It will be a nice improvement for sure in cases where semantic highlight is not helping as much.

Semantic highlight is really cool, but as you stated before it is still in the proposed state, maybe it will get "

[2020-11-18 14:08] isc-bsaviano commented on #91
@Taulim What do you mean by "have more APIs that can be consumed for edge cases"? The Language Server uses the same parsers as Studio so there isn't anything missing

[2020-11-18 14:59] daimor opened #94 "zwrite supports any expression not only variables"
https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=RCOS_czwrite

![image](https://user-images.githubusercontent.com/1212251/99546310-5b2f7680-29c7-11eb-92ee-db620cff5555.png)

![image](https://user-images.githubusercontent.com/1212251/99546419-70a4a080-29c7-11eb-9a0d-9cb64774ffeb.png)

[code]

[2020-11-18 15:07] isc-bsaviano commented on #94
@daimor I'll pass this along to Andy

[2020-11-18 15:13] isc-bsaviano commented on #94
May be a duplicate of #56

[2020-11-18 15:15] daimor commented on #94
Yeah, it's actually the same, but I have an addition, that it should support any expression, not syntax provided there.

[2020-11-18 15:17] isc-bsaviano commented on #94
Yes, it looks like #56 is a subset of this issue. I'll leave both open so I know to test all cases when Andy makes the change.

[2020-11-18 15:24] Taulim commented on #91
@isc-bsaviano I'm sorry.
I was not talking about the language-server, I was talking about the vscode's Semantic highlight feature :smile:.

By edge case I meant to have an attribute using double quote to wrap the value and at the same time to be used on a runtime expression.
For example: `attr="#(..Something("AAA"))#"`, this is not a valid HTML attribute, but it is valid for CSP and the semantic h

[2020-11-18 15:27] isc-bsaviano commented on #91
@Taulim I think we're talking about two different things here. The LS's HTML parser can handle that but the vscode-objectscript extension's default coloring probably won't.

[2020-11-19 18:08] isc-bsaviano commented on #47
@mvhenderson Both table names and column names are SQL identifiers.

[2020-11-19 18:08] #47 closed

[2020-11-19 18:17] isc-bsaviano commented on #59
@mvhenderson Version 1.0.5 provides indentation-agnostic FoldingRanges for various COS and UDL code blocks. We will not be modifying our FoldingRangeProvider to be indentation-based.

[2020-11-19 18:17] #59 closed

[2020-11-27 06:09] daimor commented on #32
Now getting a new error, with the latest version
[code]

[2020-12-03 15:56] #19 closed

[2020-12-03 15:56] #39 closed

[2020-12-03 15:56] #56 closed

[2020-12-03 15:56] #60 closed

[2020-12-03 15:56] #94 closed

[2020-12-03 18:27] isc-bsaviano commented on #77
@mvhenderson We can't deduce the namespace reliably and we do not plan to support custom decorators.

[2020-12-03 19:56] isc-bsaviano opened #96 "Go to definition on a declared local variable or method parameter should jump to the declaration"
Requested by @isc-jamien

[2020-12-03 19:57] #84 closed

[2020-12-04 01:16] mvhenderson commented on #77
@isc-bsaviano so not even a directive like `// @isc-lint-namespace %SYS` we could use to manually assist the linter?

[2020-12-04 14:01] isc-jamien commented on #77
If we are going to provide a facility like this then it needs to be carefully thought out and designed as part of a bigger effort, as we don't want to proceed in an adhoc manner. For this particular case I do see the requirement but believe the idea to be fundamentally flawed as, from a conceptual point of view, putting the 'location' of a file within the file itself (even if it is just a hint) is

[2020-12-04 19:28] #96 closed

[2020-12-10 10:08] isc-kiyer opened #97 "Ability to ignore errors of classes that may be in another namespace"
Enhancement request:
Code may sometimes switch to another namespace (using zn or set $namespace) and then call methods that only exist in that namespace and not in the source one. As an example, code may switch to the %SYS namespace and access a class in the "Security" package which is flagged as an error as seen below:

<img width="566" alt=" 2020-12-10 at 15 33 19" src="https://user-images.githu

[2020-12-10 10:23] isc-kiyer opened #98 "Bug: Parameter type detection incorrectly indicates type-value mismatch"
When parameters are declared with a type, the language server incorrectly flags certain type declarations as not matching their value. Here is a screenshot of an example of some parameter types:

<img width="587" alt=" 2020-12-10 at 15 48 20" src="https://user-images.githubusercontent.com/75783557/101759448-a0931f80-3aff-11eb-85a9-1fdb66552716.png">

The extension should not flag any of the above

[2020-12-10 10:42] isc-kiyer opened #99 "Bug: Include files with '.' in the name are parsed incorrectly when referenced from another include file"
If you have an include file and reference another include file using #include, you should be able to use the "Go to definition" to open the referenced include file. This works if the referenced include file has no '.' in it. However, if it does have a '.' then it is not parsed correctly and the "Go to definition" does not work. Here is what the parsing looks for an include file with no '.' vs one

[2020-12-10 10:52] isc-kiyer opened #100 "Bug: Hover suggestions don't include documatic description if description begins with html tag"
If a documatic description (i.e. /// comment) begins with an HTML tag (such as \<p\>), then the hover text does not the display the description. This can be seen with methods such as $System.Mirror.IsPrimary(). Here is a reference to the method:

<img width="347" alt=" 2020-12-10 at 16 16 32" src="https://user-images.githubusercontent.com/75783557/101762621-aa1e8680-3b03-11eb-85af-b5aab7c244d5.png

[2020-12-10 11:03] isc-kiyer opened #101 "Hover suggestion for methods does not include method parameters and return type"
In Studio, hovering over a method call, displays the complete method signature (its parameters, their types and defaults as well as the return type).
In VS code, hovering over a method call provides you with the class and name of the method along with the description. While the description is a nice addition, it would be great to have parity with what Studio has. Here is a snippet to demonstrate:

[2020-12-10 13:27] isc-bsaviano commented on #97
Duplicate of #77

[2020-12-10 13:27] #97 closed

[2020-12-10 13:31] isc-kiyer commented on #77
Could we have a setting to disable "Class does not exist" errors altogether in the interim (irrespective of whether or not this feature is implemented)?

[2020-12-10 13:31] isc-bsaviano commented on #99
@isc-AndrewCheshire  The second part of the routine name (including the ".") isn't being assigned any token. It should be COS_Routine

[2020-12-10 13:33] isc-bsaviano commented on #77
@isc-kiyer You can disable class existence diagnostics already. It's the first configuration setting for the LS extension.

[2020-12-10 13:37] isc-bsaviano commented on #100
@isc-kiyer The HTML is being stripped because the VSCode client thinks that the documentation text is Markdown. However, the lines that don't contain HTML should be left intact. I will investigate.

[2020-12-10 13:49] #98 closed

[2020-12-10 15:32] isc-bsaviano commented on #100
To resolve this issue I'm going to import turndown, an npm package that will convert the HTML tags in the class reference to Markdown that the VSCode client can understand

[2020-12-10 15:45] #100 closed

[2020-12-10 16:39] #101 closed

[2020-12-10 19:06] isc-bsaviano opened #102 "Completion provider should only suggest %Library.Query or its subclasses for the type of a Class Query"

[2020-12-10 19:48] #102 closed

[2020-12-11 14:23] isc-bsaviano opened #103 "$System.Context parsed incorrectly"
In %SYSTEM.SQL::IsReservedWord(), the entirety of $system.Context is parsed as COS_Objectname (a class). The correct parsing is $system (COS_Systemvariable) .Context (COS_Objectname).
[code]

[2020-12-11 14:36] isc-bsaviano opened #104 "Strip out "style" HTML tags from class reference documentation"

[2020-12-11 14:37] #104 closed

[2020-12-15 03:48] isc-solon opened #105 "If a class contains a property and a method with the same name, code completion only proposes the property"
Create a class with a property Name and a method Name(). In another **instance** method Test(), type `..N` to trigger code completion. Only the Name property is proposed. If you type the complete property name and then type the left parenthesis, the method is correctly proposed.

[2020-12-15 03:55] isc-solon opened #106 "#dim provides no code completion inside a trigger"
#dim provides no code completion in a trigger

Trigger T1 [Event=INSERT, Time=BEFORE, Foreach=row/object]
{
    #dim p as Sample.Person
    set p = ##class(Sample.Person).%New()
    set p.<no code completion here>
}

[2020-12-15 14:23] isc-bsaviano commented on #105
[InterSystems documentation](https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GOBJ_classes#GOBJ_classes_naming_membernames) strongly recommends against doing this so the Language Server won't be supporting it.

[2020-12-15 14:23] #105 closed

[2020-12-15 14:40] isc-solon commented on #105
I don't think I ever saw that warning before. I concur!

[2020-12-15 14:48] isc-jamien commented on #86
The effort required to address this long standing issue out ways its benefit.

[2020-12-15 14:48] #86 closed

[2020-12-15 15:24] #106 closed

[2020-12-15 15:28] isc-bsaviano opened #107 "Add "Go To Declaration" support"
Move "Go To Definition" functionality implemented in #96 & #106 to a new "Go To Declaration" provider

[2020-12-15 15:36] #107 closed

[2020-12-15 15:42] isc-bsaviano opened #108 "Add "Go To Declaration" support for variables in the PublicList"

[2020-12-15 18:40] #108 closed

[2020-12-16 11:06] gjsjohnmurray opened #109 "Activate color theme for workspace only"
At this line

https://github.com/intersystems/language-server/blob/6e37139fefb8916e79382dfb25f30f1a8318c364/client/src/extension.ts#L100

and its dark-theme partner

https://github.com/intersystems/language-server/blob/6e37139fefb8916e79382dfb25f30f1a8318c364/client/src/extension.ts#L117

I propose we set the third parameter `false` so the theme change only gets applied to my current workspace ins

[2020-12-16 15:31] gjsjohnmurray commented on #109
I don't know of a way to change its size. How about simplifying the button labels to "Globally", "This Workspace", "Later", "Never" ?

[2020-12-16 15:34] isc-bsaviano commented on #109
Those options fit in the normal window. I'll also change the message to "InterSystems recommends that you activate the default dark/light theme" to make more sense with the shortened message

[2020-12-16 15:38] #99 closed

[2020-12-16 15:38] #103 closed

[2020-12-16 15:52] isc-bsaviano commented on #109
@gjsjohnmurray Jamie and I decided to clean up the message a bit and only use 3 buttons: "Globally", "Only This Workspace" and "Don't Ask Again". Sending you a beta vsix now

[2020-12-16 16:00] #109 closed

[2020-12-16 18:24] gjsjohnmurray opened #110 "Consider caching data to improve hover tip performance"
In the following recording compare how long it takes for the %Persistent tip to appear compared to the %String one. The %Boolean one takes a bit longer than %String.

The class was opened from a remote server across the internet, using isfs.

![junk](https://user-images.githubusercontent.com/6726799/102389686-5d3b2400-3fcb-11eb-94e5-bc970e154c3d.gif)

Repeatedly hovering over %Persistent and then

[2020-12-16 18:39] isc-bsaviano commented on #110
@gjsjohnmurray Have you experienced this behavior with previous versions using the same IRIS instance? The only change that affects hover info for class names is the addition of turndown, which converts HTML to Markdown. Using 1.0.6 on my Mac connected to a local IRIS, class name hovers return in 10-15ms. If you try with a local instance, do you still see a performance hit?

[2020-12-16 19:30] gjsjohnmurray commented on #110
I hadn't noticed it before, but I hadn't been testing hovers.

Connecting to a local instance I don't see any delay.

It takes about as long to get the hover result as it takes to see a new tab open if I use "Go to Definition" from the context menu. I'm guessing you retrieve the entire class definition each time I hover, right?

[2020-12-16 19:37] isc-bsaviano commented on #110
@gjsjohnmurray I don't cache any results from hovering/go to definition. For hovering over a class name, I make a POST /action/index request for that class to get the description. It sounds like the issue is that your network is slow if both hovering and go to definition are affected.

[2020-12-16 19:47] gjsjohnmurray commented on #110
Yes, I accept that the path to my server is a slow one.

Puzzling that the hover over %String is faster than the hover over %Boolean, even though %Library.String.cls has 169 lines and %Library.Boolean.cls has only 62. Certainly %Library.Persistent is a lot bigger (1854 lines).

Maybe a future enhancement could do more caching?

[2020-12-16 19:48] isc-bsaviano commented on #110
For the specific case of hovering over a class name, I could replace the POST /action/index call with a POST /action/query call that only returns the exact info that I need (just the description). Testing on a local IRIS using Postman, here's what the benefit looks like for %Persistent:

POST /action/index (current behavior)
[code]
Returns 76.25KB of data in ~14ms

POST /action/query (proposed beh

[2020-12-16 19:49] gjsjohnmurray commented on #110
Yes please!

[2020-12-16 19:51] isc-bsaviano commented on #110
@gjsjohnmurray I will open a separate enhancement request for the POST /action/index -> POST /action/query replacement so this issue can be for caching specifically. Can you edit the title/description to clarify that this is a request for caching?

[2020-12-16 19:53] isc-bsaviano opened #111 "Replace requests to POST /action/index with POST /action/query where possible"
*Copied from https://github.com/intersystems/language-server/issues/110#issuecomment-746908359*

For the specific case of hovering over a class name, I could replace the POST /action/index call with a POST /action/query call that only returns the exact info that I need (just the description). Testing on a local IRIS using Postman, here's what the benefit looks like for %Persistent:

POST /action/i

[2020-12-17 15:56] #111 closed

[2020-12-17 15:59] isc-jamien commented on #110
Addressing the issue of Caching. There is already a facility for pre-populating an index. These are delivered in /dev/atelier/{database}/METADATA.zip file and can be retrieved via a call to the Atelier APIs. Atelier does this to cache the static metadata for particular instances. I think a separate extension that can retrieve these files, and store them locally in a version specific location and i

[2020-12-17 16:07] #110 closed

[2020-12-17 16:56] bourette opened #112 "Parsing problem with $system.SQL"
The command If $SYSTEM.SQL.Util.GetMapSelectability(... underlines SQL as a syntax error

[2020-12-17 17:00] isc-bsaviano commented on #112
@isc-AndrewCheshire Looks like this new syntax was introduced in 2020.3:

Source: https://docs.intersystems.com/iris20203/csp/docbook/Doc.View.cls?KEY=GCRN_new20203#GCRN_new_other

[2020-12-17 19:24] isc-bsaviano opened #113 "Syntax error diagnostic should span entire range of continuous error tokens"
Currently the error diagnostic only underlines the span of the first error token, not the full range of all error tokens that are continuous. This leads to confusing situations where some text will be assigned an error token and colored bright red but will not be underlined by a "syntax error" diagnostic.

[2020-12-17 20:33] #113 closed

[2020-12-22 15:51] isc-bsaviano opened #114 "Import resolution does not include import statements from superclasses"
See https://github.com/intersystems-community/vscode-objectscript/issues/538

[2020-12-22 15:52] isc-bsaviano commented on #114
@yuji-ohata

[2021-01-04 19:56] #114 closed

[2021-01-06 21:50] isc-solon opened #116 "List of suggestions for argument datatypes for a class query is incomplete"
Add a class query to a class:
`Query Test(arg as %`
If you type `%Str` or `%Int` or `%Dat` you are **not** presented with %String, %Integer, or %Date. If you type `%Library.` you are **not** presented with all the %Library classes. The list of suggestions is incomplete. I think it should be the same as the list for method arguments. Somewhat related to #64.

[2021-01-07 00:41] isc-bsaviano commented on #116
Caused by #102

[2021-01-15 14:45] #116 closed

[2021-01-15 19:27] mburstinisc commented on #88
I have also gotten this error at random times.  I typically have to restart VSCode to make this error go away, it keeps occurring when saving/compiling a file when it happens.  I'm running:
VSCode 1.52.1
macOS 10.15.7
Language Server 1.0.6
Server Manager: 1.0.2
ObjectScript 1.0.8
various Iris versions

I'll see if I can find a way to reproduce, but it happens randomly for me as well

[2021-01-15 19:31] isc-bsaviano commented on #88
@mburstinisc Are you sure that you're seeing this exact error when you try to save and compile? A SignatureHelp is only triggered when you're typing certain characters, not when you save a file.

[2021-01-15 19:34] mburstinisc commented on #88
I could be wrong when I see it -- it starts to flood my output tab so it is possible that it happens frequently enough that I don't know when it is happening

[2021-01-15 19:38] isc-bsaviano commented on #88
@mburstinisc What are you typing when you first see the error pop up in the lower right corner? SignatureHelp is triggered when you type `(` or `,` but it should only return something if you're in a method or macro argument list.

[2021-01-15 19:41] mburstinisc commented on #88
I unfortunately can't say.  I didn't notice the errors happening until I went to compile my class and didn't see output saying it compiled successfully (Which is why I thought it came up then).  Is there any sort of logging that I can enable or get?

[2021-01-15 19:45] isc-bsaviano commented on #88
@mburstinisc Yes, you can trace the communication between the Language Server and VSCode client by going to Settings -> Extensionms -> InterSystems Language Server -> Trace and turning it on "verbose" ("messages" should also be fine). You'll be able to see the trace in the Output tab in the bottom pane once you select "InterSystems Language Server" from the dropdown menu.

[2021-01-15 20:28] mburstinisc commented on #88
I just had a similar error happen but it is slightly different error string.  It looks like I actually have a legit syntax error in my code that I copy/pasted, but it is causing this error

[Error - 3:16:51 PM] Request textDocument/signatureHelp failed.
  Message: Request textDocument/signatureHelp failed with message: Cannot read property 'l' of undefined
  Code: -32603
[Error - 3:16:51 PM] Reque

[2021-01-15 20:47] isc-bsaviano commented on #88
@mburstinisc Thanks for the detailed comment. I copied your code and followed the steps but couldn't reproduce the error. If you set the trace to "verbose" and try those operations again, can you also send me the requests that produced those error responses? That way I'll have more information that can tell me what you typed and the state of the file at the time of the request. If any of the code

[2021-01-19 10:58] gjsjohnmurray opened #117 "Theme suggestion dialog should not offer workspace option when no workspace is open"
Start a new VS Code window that doesn't use an InterSystems theme. Open a file (not a folder or a workspace). Set the file's language mode to ObjectScript. Dialog proposing the InterSystems theme includes "Only This Workspace" option. That's not applicable in this situation.

Code pointer:
https://github.com/intersystems/language-server/blob/ddbbecc8930aa68dcc90df9632542635845aaac4/client/src/exte

[2021-01-19 13:43] isc-bsaviano commented on #117
@gjsjohnmurray What's the best way to test if a workspace is open? `workspace.name !== undefined`?

[2021-01-19 14:03] gjsjohnmurray commented on #117
Indeed, the spec at https://code.visualstudio.com/api/references/vscode-api#workspace says of `workspace.name`

[2021-01-19 15:35] isc-bsaviano opened #118 "Hover documentation for commands and system functions needs more linebreaks"
See https://github.com/intersystems-community/vscode-objectscript/issues/557

[2021-01-19 16:41] #117 closed

[2021-01-19 16:46] isc-bsaviano commented on #118
@gjsjohnmurray I can add newlines after each argument but if the description for that argument is long there will still be horizontal scrolling.

[2021-01-19 16:51] gjsjohnmurray commented on #118
@isc-bsaviano newlines after each argument will be an adequate improvement at this time I think.

[2021-01-19 17:49] isc-bsaviano commented on #118
Changed the title to reflect that line breaks are also needed in the documentation for system functions and structured system variables that take multiple arguments.

[2021-01-19 19:09] #118 closed

[2021-01-20 14:59] isc-bsaviano opened #119 "Add "deprecated" CompletionItemFlag for deprecated class members"
This will render completion suggestions for deprecated class members slightly greyed out and struck through

[2021-01-20 15:18] #119 closed

[2021-01-20 15:21] isc-bsaviano opened #120 "Filter imported classes to the top of completion list"
This is what Studio does

[2021-01-20 15:30] #120 closed

[2021-01-21 16:35] mburstinisc commented on #88
The following just happened to me in the middle of just writing some code, the code in this case didn't even have an error (thought I'm not sure whether the " Cannot read property 'l' of undefined" error happened before I finished typing my line of code.  I don't see the Params as part of it, though.

[Trace - 11:32:29 AM] Received response 'textDocument/foldingRange - (2690)' in 1751ms.
[Trace -

[2021-01-22 17:03] isc-bsaviano commented on #88
The "Request textDocument/signatureHelp failed." errors are being caused by textDocument/signatureHelp requests that have the isRetrigger property set to `true` and activeSignatureHelp set to `undefined`. The LS assumed this wasn't possible because it doesn't make much sense so the request would fail ungracefully instead of just returning `null`. I will fix this. Thanks to @mburstinisc for sending

[2021-01-22 17:05] #88 closed

[2021-01-22 17:15] isc-bsaviano opened #121 "Support nested SignatureHelp's"
Suppose a user just typed this line of code:
[code]
The current behavior (version 1.0.6) is that the SignatureHelp for `##class(%File).Delete()` will be shown, even after the last `(` is typed, which in a vacuum would cause the SignatureHelp for `$$$FileNameToPath()` to pop up. The LS should match the functionality of the builtin TypeScript language support and replace the `##class(%File).Delete()

[2021-01-25 12:46] gjsjohnmurray opened #122 "Extension settings cannot be set per workspace or per language"
All contributed configuration settings in package.json are defined as `"scope": "application"` which prevents me from setting workspace-specific values.

For each setting that affects an individual document, please change to `"scope": "language-overridable"` so it becomes possible for different root folders in a multi-root workspace to specify a different value for each of the four language IDs th

[2021-01-25 13:55] isc-bsaviano commented on #16
Closing as duplicate of #13

[2021-01-25 13:55] #16 closed

[2021-01-25 14:57] #112 closed

[2021-01-25 16:22] isc-bsaviano opened #123 "Add SignatureHelp for system functions and structured system variables"

[2021-01-25 16:25] #121 closed

[2021-01-25 20:26] bourette opened #124 "Goto definition fails with server:namespace definition"
object script issue https://github.com/intersystems-community/vscode-objectscript/issues/450 adds isfs://server:namespace option, but using that seems to have affected the goto definition code of language server.

Defining the server with isfs://server/?ns=BUILDDTL resolves the issue

[Trace - 3:24:32 PM] Received response 'textDocument/definition - (4094)' in 328ms. Request failed: Request textDo

[2021-01-25 20:39] isc-bsaviano commented on #124
The issue occurs when I try to parse the given document URI to replace the path with the path to the file containing the definition. I think the default URL parser considers `isfs://ascension:builddtl/Test/MySuper.cls` invalid because the parser expects a numerical port to follow `ascension`.

[2021-01-25 21:14] isc-bsaviano commented on #124
I think I replace my usage of the default URL parser with the vscode.Uri parser by including the [vscode-uri npm module](https://www.npmjs.com/package/vscode-uri). I will try that.

[2021-01-25 21:31] #124 closed

[2021-01-26 09:54] gjsjohnmurray commented on #124
@bourette sorry we didn't pick this up before releasing the version of the ObjectScript extension that added the new syntax.

@isc-bsaviano thanks for fixing it so promptly. Will you be doing a new Language Server release soon?

[2021-01-26 14:08] bourette commented on #124
@gjsjohnmurray, no worries, I should have reported it, I knew there was a problem, but hadn't spent the time figuring out what was happening.

[2021-01-26 14:39] isc-bsaviano commented on #124
@gjsjohnmurray Version 1.0.7 will be live in a few minutes. We're planning on 1.1.0 coming next week

[2021-01-28 14:05] isc-bsaviano opened #125 "Relationships are not showing up in completion suggestion list"
Reported by @isc-kiyer

[2021-01-28 14:06] isc-bsaviano opened #126 "Macros defined in current file are not showing up in completion suggestion list"
Reported by @isc-kiyer

[2021-01-28 14:08] isc-bsaviano opened #127 "Add code completion for nested references"
Reported by @isc-kiyer

[2021-01-28 15:08] #125 closed

[2021-01-28 19:29] #126 closed

[2021-01-28 20:49] isc-bsaviano opened #128 "Go to definition on Relationship doesn't take you to its location in the class"
Since a Relationship is a type of Property in the database (it's a row of %Dictionary.CompiledProperty with Relationship = 1), the LS looks for a line starting with `Property <member_name>` in the target class. Since Relationships have their own keyword, this scan fails.

[2021-01-29 11:04] gjsjohnmurray opened #129 "Diagnostics don't return a code"
For example, the "Syntax error" message that displays in the VS Code Problems list doesn't convey as much information as the error messages from the corresponding failed compile.

Example MAC routine:
[code]

Compiler error text:
[code]

Problems lack the error numbers 1026 and 1032
![image](https://user-images.githubusercontent.com/6726799/106267161-2b9bb680-6221-11eb-96fc-d30a9c730d68.png)

Code

[2021-01-29 12:36] isc-bsaviano commented on #129
@gjsjohnmurray I can check with Andy next week but I'm pretty sure that I don't get that information from the parser.

[2021-01-29 14:25] isc-bsaviano opened #130 "Hover and code completion doesn't work for Relationship compiler keywords"
Similar to #128

[2021-01-29 14:41] osmattb opened #131 "Is vscode-objectscript truly a dependency?"
In the documentation under dependency I noticed:

I was curious if this is true. I use vscode some, but majority of the time find my self in the terminal using vim. I found [coc.ncim](https://github.com/neoclide/coc.nvim) has language server support and considered looking into a plugin that could use this language server.

Can this language-server integrate with other editors or does it strictly r

[2021-01-29 14:57] isc-bsaviano commented on #131
@osmattb The vscode-objectscript is a strict dependency for now. The LS uses some custom messages to communicate with the client and relies on language definitions and virtual file systems that are provided by vscode-objectscript. While it is possible to write your own language client for another editor that has the same custom features implemented as vscode-objectscript, it would be a daunting ta

[2021-01-29 15:32] #131 closed

[2021-01-29 15:38] #127 closed

[2021-01-29 15:38] #128 closed

[2021-01-29 15:38] #130 closed

[2021-01-29 16:30] isc-bsaviano opened #132 "Update vscode-languageserver and vscode-languageclient to 7.0.0"
This new major version moves Semantic Token support out of its Proposed state. Also update other outdated dependencies.

[2021-02-01 12:15] isc-AndrewCheshire commented on #129
@isc-bsaviano You're correct, the colorer doesn't have that information.  It seems to me that you'll have to get the error codes from the compiler output and use the line numbers to merge the compiler+colorer information for each line.

[2021-02-01 12:58] gjsjohnmurray commented on #129
So I suggest we leave the Language Server diagnostics as they are. @isc-bsaviano if you agree, go ahead and close this.

Perhaps I'll open an issue on the ObjectScript extension about getting it to use Diagnostics to report compiler errors. Currently it only creates Diagnostics if LS isn't being used.

[2021-02-01 13:22] isc-bsaviano commented on #129
@gjsjohnmurray I agree that the current LS Diagnostics are fine (there's a difference between syntax errors and compiler errors) but I'm not sure that the main extension should be making its own Diagnostics. There will likely be overlaps between compiler error diagnostics and syntax error/class not found diagnostics which might confuse the user.

[2021-02-01 13:22] #129 closed

[2021-02-01 16:44] isc-bsaviano commented on #28
Closing this issue because it requires changes to the LSP that are currently on the Backlog and seem unlikely to be implemented soon. See https://github.com/microsoft/language-server-protocol/issues/672

[2021-02-01 16:44] #28 closed

[2021-02-01 18:15] #15 closed

[2021-02-01 18:15] #132 closed

[2021-02-09 09:20] jtsalten opened #133 "Method keywords not supported"
This is a basic feature in class implementation that it seems just partially implemented as we don't get intellisense for options related to which keywords we have available:

Method xxxx() as %Status [... here I don't get any intellisense.

But, if I add:

Method xxxx() as %Status [ codemode = ... then I get the possible values

So, when we do Method xxxx() as %Status [ **<Ctrl-Shift>**....
we sh

[2021-02-09 13:03] isc-bsaviano commented on #133
@jtsalten This is supported. Do you have any more context or an example you can post here that I can examine? Completion is triggered on a space for UDL compiler keywords so to get intellisense you need to type [_{space} then the suggestion list will appear.

[2021-02-19 12:06] pjsulin opened #134 "Outdated documentation for $LISTFROMSTRING"
$LISTFROMSTRING has wrong method defintion for it's signature causing false errors.

https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=RCOS_FLISTFROMSTRING

The definition in the language server is missing the 3rd parameter, flag.

[2021-02-19 12:44] isc-bsaviano commented on #134
@pjsulin What do you mean by "causing false errors"? Is it just that the documentation when you hover over $LISTFROMSTRING incorrect? Or do you mean something else? If it's an issue that you're seeing in the code and not just the hover documentation, can you please provide a code example and more context?

[2021-02-20 12:28] pjsulin commented on #134
Seee images below show definition missing 3rd parameter, flag, the language server giving an error, the succussful output of the code and the definition from the docs.

<img width="632" alt="Screen Shot 2021-02-20 at 7 22 28 AM" src="https://user-images.githubusercontent.com/4719356/108595208-a8b3da80-734c-11eb-9480-4db28861021f.png">

<img width="718" alt="Screen Shot 2021-02-20 at 7 22 17 AM" sr

[2021-02-20 13:34] isc-bsaviano commented on #134
@pjsulin Thanks for the update. There are two separate issues here, one with the documentation and another with the parser.  I will create a new issue for the parser bug and dedicate this one to the docs bug.

[2021-02-20 13:37] isc-bsaviano opened #135 "False syntax error when using 3rd parameter of $LISTFROMSTRING"
<img width="632" alt="Screen Shot 2021-02-20 at 7 22 28 AM" src="https://user-images.githubusercontent.com/4719356/108595208-a8b3da80-734c-11eb-9480-4db28861021f.png">

<img width="718" alt="Screen Shot 2021-02-20 at 7 22 17 AM" src="https://user-images.githubusercontent.com/4719356/108595215-af425200-734c-11eb-9cf4-be5df62ef978.png">

<img width="744" alt="Screen Shot 2021-02-20 at 7 26 11 AM" sr

[2021-02-22 14:02] isc-bsaviano commented on #133
@jtsalten Any updates?

[2021-02-22 14:43] #134 closed

[2021-02-22 16:38] #135 closed

[2021-02-22 18:44] isc-bsaviano opened #136 "Provide Intellisense for methods generated by the member inheritance mechanism"
For example, the [Index Open, Exists and Delete methods](https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GSQLOPT_indices#GSQLOPT_indices_openexistsdelete)

Create a unique index in a persistent class and save the class. Let's say the index is called "NameIndex".

As the class compiles, several methods are generated for that index such as NameIndexOpen(), NameIndexDelete(), Na

[2021-02-23 15:16] #136 closed

[2021-02-23 19:43] isc-bsaviano opened #137 "Completion request fails for local variables"
This bug was created by a typo in the fix for #136. I will fix this and get a new version out ASAP

[2021-02-23 19:46] #137 closed

[2021-02-26 11:42] diashenrique opened #138 "Support for arm64 platform"
Hi,

I'm using the arm64 platform, and when I started the VSCode, the following error message pops up:

[Info  - 8:27:26 AM] Connection to server got closed. Server will restart.
/Users/diashenrique/.vscode-insiders/extensions/intersystems.language-server-1.1.2/server/node_modules/node-gyp-build/index.js:59
  throw new Error('No native build was found for ' + target + '\n    loaded from: ' + dir +

[2021-02-26 13:44] isc-bsaviano commented on #138
Similar to #32 & #38

[2021-02-26 14:19] gjsjohnmurray commented on #38
Maybe worth experimenting with the `remote.extensionKind` setting that's documented [here](https://code.visualstudio.com/api/advanced-topics/remote-extensions#incorrect-execution-location).

[2021-02-26 15:50] isc-bsaviano opened #139 "Don't show methods marked NotInheritable in the completion list"

[2021-03-01 13:33] isc-bsaviano opened #140 "Hover not working for properties and parameters"

[2021-03-01 20:25] isc-bsaviano opened #141 "Provide Hover and Completion support for ClientMethod compiler keywords"

[2021-03-02 09:27] jtsalten commented on #133
Now it works.... weird... :-( ... I think something is not working well behind the scenes with the extensions... it's not the first time that this happens to me. Something fails... then, withount any changes, after a restart or after "something"... it works.

[2021-03-02 09:27] #133 closed

[2021-03-02 17:13] #71 closed

[2021-03-02 18:06] #139 closed

[2021-03-02 18:06] #140 closed

[2021-03-02 18:06] #141 closed

[2021-03-03 20:02] isc-bsaviano opened #142 "Don't suggest UDL keyword in code completion if it's already specified"

[2021-03-03 20:04] #142 closed

[2021-03-05 16:50] isc-bsaviano opened #143 "Don't create Folding Ranges for labels in classes"

[2021-03-05 16:52] isc-bsaviano opened #144 "No intellisense for back-to-back macros"
For example, hover and go to definition don't work for either macro on this line:
[code]

[2021-03-05 16:55] #143 closed

[2021-03-05 16:55] #144 closed

[2021-03-09 19:40] isc-bsaviano opened #145 "Compiler keyword completion list includes invalid keywords"
Filter out keywords that are generated upon compilation, not editable by the user or are deprecated.

[2021-03-09 19:56] #145 closed

[2021-03-17 13:47] isc-bsaviano opened #146 "Values for keywords "Owner" and "Aliases" are not tokenized correctly"

[2021-03-17 13:55] #146 closed

[2021-03-19 14:56] isc-pchung opened #147 "Unable to refactor classes definitions within hierarchy"
Unable to refactor classes in a hierarchy.

In the current scheme, if I had class hierarchy of 5 class, which all use a variable in the base class, the workflow to refactor would be

  1. enable recursive compile
  2. refactor target in class / recompile
  3. see which child classes fail to compile & repeat#2 tep #2

Seems ObjectScript refactoring in VSCode is text base search/replace in single fi

[2021-03-19 15:04] isc-bsaviano commented on #147
See https://github.com/intersystems-community/vscode-objectscript/issues/585

[2021-03-19 15:48] isc-bsaviano commented on #147
@isc-pchung I edited your issue description to more clearly describe the change you're requesting. Do note that in Studio, the refactor->rename feature doesn't rename references to the class member in method bodies like the example that you provided.

[2021-03-23 16:09] GendronAC opened #148 "Erronous Syntax Error reported into XData blocks for "&|" character"
# How to reproduce #
 + Create an XData in a file with the following content :
[code]

# The problem #
Syntax error reported by VSCode
![image](https://user-images.githubusercontent.com/45271725/112178781-6e9a5a80-8bd0-11eb-83bf-756c81f16839.png)

# How I worked-around #
[code]

This causes issue with some of our HL7 messages stored in XData for some unit tests :
![image](https://user-images.githu

[2021-03-23 16:12] isc-bsaviano commented on #148
@GendronAC Do you get this same error in Studio?

[2021-03-23 16:34] GendronAC commented on #148
Nope, the files itself compiles without error and runs fine both from Visual Studio and Studio. The issue is really related to that "false positive" error.

[2021-03-23 16:37] isc-bsaviano commented on #148
@GendronAC I just checked Studio and the syntax error shows up there as well. This is expected because the language server uses Studio's parsers to do the coloring and error diagnostics. I will assign this to the developer who maintains the parsers and he will take a look.

[2021-03-23 16:40] GendronAC commented on #148
You are right, I'm sorry, the error is indeed underlined in Studio

[2021-03-24 08:12] isc-AndrewCheshire commented on #148
@GendronAC The `CDATA` construct is introduced using a special syntax rather than as a `<CDATA>` tag.

A `CDATA` section begins with `<![CDATA[` and ends with `]]>`.  Absolutely *anything* can be put between those "brackets" - except the closing `]]>` sequence itself.

A `CDATA` section is legal in XML *content*, i.e. between XML tags such as `<abc>` and `</abc>`.  Other content - either plain tex

[2021-03-24 12:16] isc-bsaviano commented on #148
Closing this because it's not an issue with our parsers

[2021-03-24 12:16] #148 closed

[2021-04-14 10:59] jtsalten opened #149 "Mixed colors"
Issue Type: <b>Bug</b>

Editing code in a subroutine, all of a sudden, colors get mixed... even if ObjectScript code is perfectly right. In fact, closing and opening the file or VS code solves the issue...

Extension version: 1.1.4
VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info<

[2021-04-14 11:01] jtsalten commented on #149
It can be really worser... but in the image below you can see how it starts... see the mixed color in the comment in subroutine leer... and also how the quit commant is purple instead of white...

![image](https://user-images.githubusercontent.com/6997495/114700034-4f02d780-9d21-11eb-8a62-ca9c7412e3ec.png)

[2021-04-14 11:09] isc-bsaviano commented on #149
Duplicate of #29

@jtsalten Unfortunately, this is a bug in VSCode itself or the VSCode-languageclient module that our LS depends on.

[2021-04-14 11:09] #149 closed

[2021-04-16 18:33] isc-bsaviano opened #150 "Hovering over blank last line of file causes error"
This error also appears if you make a "go to definition" or "go to type definition" request on the blank last line

*Reported by @isc-isu*

[2021-04-16 18:43] isc-bsaviano opened #151 "Typing "(" on a blank line causes an error"

[2021-04-16 18:44] #150 closed

[2021-04-16 18:44] #151 closed

[2021-04-19 13:28] isc-bsaviano commented on #29
@gjsjohnmurray I investigated this issue again after the PMC meeting on Friday and I also found what you found. If we provide full document semantic tokens every time, the coloring works well, but if we do a delete while registering for the `textDocument/semanticTokens/full/delta` function, the deleteCount is off. I raised https://github.com/microsoft/vscode-languageserver-node/issues/758 and that

[2021-04-20 14:45] isc-bsaviano commented on #29
@gjsjohnmurray Our suspicions were correct; this issue was caused by a bug in vscode-languageserver's SemanticTokensBuilder.buildEdits() function. A fix has been checked in, I'm just waiting on a version of that module to become available with the fix. When that's released, I will update the LS to use it.

[2021-04-22 17:18] gjsjohnmurray opened #152 "Language Server is crashing on startup in Insiders"
Issue Type: <b>Bug</b>

1. Have VS Code Insiders installed, plus the InterSystems Language Server extension and whatever it depends on.
2. Start VS Code Insiders.
3. Observe two notifications.
4. Find content like this in its output channel:

[code]

Extension version: 1.1.4
VS Code version: Code - Insiders 1.56.0-insider (7ce1499d9541ba2acf66cd30a9054bd7818a8f80, 2021-04-22T05:13:14.711Z)
OS vers

[2021-04-22 19:35] isc-bsaviano commented on #152
Andy needs to look at this. The errors are coming from the modules he uses to call out to the parsers.

[2021-04-28 10:41] gjsjohnmurray opened #153 "LS DocumentSelector should confine itself to schemes it can handle"
Currently, LS will try to provide its services to any document that is set to use one of these language modes:
https://github.com/intersystems/language-server/blob/87fad7b5d59d36158ef5b687166a81f1f2acea50/client/src/extension.ts#L50-L55

But if the document uri's scheme isn't `file`, `objectscript`, `isfs` or `isfs-readonly` this can result in failures. For instance, if a Serenji user also has the

[2021-04-28 13:58] davevdg opened #155 "class parameter marked with warning about type mismatch"
I've noticed an error/warning(?) in the Language Server for some class parameters claiming the type does not match:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/35857691/116416106-10344d80-a808-11eb-9b73-0aae89d98c78.png)

I mentioned this to Brett Saviano and he said it is a bug I should report.

[2021-04-28 15:07] #155 closed

[2021-04-28 16:47] #153 closed

[2021-04-28 20:44] isc-bsaviano opened #156 "SignatureHelp not showing for methods without a description or return type"
SignatureHelp only requires a Formal Spec (i.e. method arguments) to be useful, so we should show it even if additional information is absent.

[2021-04-28 20:48] isc-bsaviano opened #157 "SignatureHelp parameter underlining doesn't work when class name parameter values are present"
When a method argument has a type that is constrained by multiple class name parameters:

[code]

The SignatureHelp parameter underlining doesn't correctly underline the entire argument due to the comma present within the class name parameter list.

See https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=ROBJ_classdef_method

[2021-04-28 20:49] #156 closed

[2021-04-28 20:49] #157 closed

[2021-04-30 16:27] gjsjohnmurray commented on #38
@jtsalten do you still see this issue with the latest Language Server (1.1.4)?

[2021-04-30 16:30] gjsjohnmurray commented on #32
May already have been resolved. I have pinged the reporters of two linked issues to ask for confirmation.

[2021-05-03 20:07] isc-bsaviano opened #158 "Support Intellisense when method arguments appear on multiple lines"
Caused by https://github.com/intersystems-community/vscode-objectscript/issues/457 and https://github.com/intersystems-community/vscode-objectscript/pull/631

[2021-05-04 11:36] gjsjohnmurray opened #159 "Improve README to explain consequences of setting `"enabled": false` on `editor.semanticTokenColorCustomizations` object"
I will submit a PR

[2021-05-04 11:54] gjsjohnmurray commented on #152
Verified fixed in 1.1.5-beta.2

[2021-05-04 12:21] #152 closed

[2021-05-04 12:22] #159 closed

[2021-05-04 14:47] #158 closed

[2021-05-10 19:38] isc-bsaviano opened #161 "Hovering over macro in CSP file throws an error"

[2021-05-11 12:21] #45 closed

[2021-05-11 13:15] #161 closed

[2021-05-12 18:28] isc-bsaviano opened #162 "Add DocumentSymbols and FoldingRanges for CSP script tags"

[2021-05-12 18:29] #162 closed

[2021-05-19 13:33] isc-bsaviano opened #163 "Add Diagnostics for Deprecated class members"
Class members marked Deprecated (methods/parameters/properties) should be given a strikethrough warning Diagnostic when they're being used in a document

[2021-05-19 13:43] #163 closed

[2021-05-24 13:42] isc-bsaviano opened #164 "Parsing fails for files >6000 lines long"
Reported internally by @davevdg

[2021-05-24 13:46] #164 closed

[2021-05-26 08:44] jtsalten commented on #38
Hi John. Sorry for late response. Since I found these issues I back to VS Code in windows even to deal with my IRIS instances on Linux... but I've tested again running VS Code from Linux (WSL2 - Ubuntu) and now it works with Language Server 1.1.6.
Thanks,
Salva

[2021-05-26 21:32] isc-bsaviano commented on #38
@jtsalten Glad to hear that the issue is resolved

[2021-05-26 21:32] #38 closed

[2021-05-28 16:47] diashenrique commented on #138
I have looked at issues #32 e #38, but the issues on arm64 it's happening.
I'm using the language server 1.1.6
Sorry for the questioning, but even with the extension working, I have many drawbacks as No Intellisense or any other feature.
When I said the extension working, I talked about the elementary stuff as compilation, connecting to IRIS, and just it.
Is there anything I can try?

[2021-05-28 16:51] isc-bsaviano commented on #138
@diashenrique Do you still get the same error as above? The extension includes compiled C++ libraries. We don't have versions of them for arm64

[2021-05-28 17:56] diashenrique commented on #138
@isc-bsaviano Yes, I'm still getting the same error as above.
My MacBook is the M1 version, is there anything that I can help you with?

[2021-05-28 18:02] isc-bsaviano commented on #138
@diashenrique Unfortunately you'll just have to disable the LS extension until we build a version of parser libraries that run on arm64. The main extension will provide some basic syntax coloring and intellisense if the LS is disabled or not installed.

[2021-05-29 09:49] diashenrique commented on #138
Thanks, I'm looking forward to an arm64 version :)

[2021-06-03 14:42] isc-solon opened #166 "Improve the compilation error message for a missing } or ; in a class definition"
The compilation message for missing } or ; is:

`ERROR #5559: The class definition for class 'PackageName.ClassName' could not be parsed correctly, possibly due to non-matching {} or () characters. Edit the class and correct the problem.`

Suggested update:

`ERROR #5559: The class definition for class 'PackageName.ClassName' could not be parsed correctly, possibly due to non-matching {} or () cha

[2021-06-03 14:45] isc-bsaviano commented on #166
@isc-solon This has nothing to do with the LS or VS Code. Compilation messages come directly from the server. You'll have to report this internally.

[2021-06-03 14:45] #166 closed

[2021-06-11 10:53] evshvarov opened #167 "If you add [unique] clause to index it LS suggests wrong completion"
It inserts the template property instead of unique completion.

to reproduce add an index with the unique clause, e.g.:

Index NameIndex on Name [unique];

[2021-06-11 11:43] gjsjohnmurray commented on #167
From my Discord response to @evshvarov:

[2021-06-11 11:46] gjsjohnmurray commented on #167
@isc-bsaviano does LS yet provide completions for [index keywords](https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=ROBJ_index)?

[2021-06-11 12:25] isc-bsaviano commented on #167
@gjsjohnmurray Yes, we do.

[2021-06-11 17:02] gjsjohnmurray commented on #167
@evshvarov if you enter a space after the [ and before you start typing Unique does the completion work as expected?

[2021-06-15 12:32] isc-bsaviano opened #168 "Go to definition opens wrong routine when two labels are separated by a comma"
See https://github.com/intersystems-community/vscode-objectscript/issues/684

[2021-06-15 14:07] #168 closed

[2021-06-16 16:26] gjsjohnmurray commented on #29
LS 7.1.0-next.5 is [now available](https://github.com/microsoft/vscode-languageserver-node/issues/758#issuecomment-862483367)

[2021-06-16 18:45] isc-bsaviano opened #169 "Syntax error Diagnostics are not calculated for Parameter definitions"
See https://github.com/intersystems-community/vscode-objectscript/issues/672

[2021-06-16 18:50] isc-bsaviano commented on #167
@evshvarov When I begin typing `[ U` at the end of an Index definition, I correctly see the `Unique` keyword suggestion from the LS. I don't see the main extension snippet. I'm closing this issue because it's neither reproducible by me nor is a bug in this extension even if I could reproduce it.

[2021-06-16 18:50] #167 closed

[2021-06-16 20:18] gjsjohnmurray commented on #167
@isc-bsaviano do you see the issue if you omit the space between `[` and `U' and instead type `[U` ?

[2021-06-17 12:17] isc-bsaviano commented on #167
@gjsjohnmurray Yes, in that case I see the `Unique Property` snippet suggested. I don't see anything from the LS, which is expected because space is the trigger character.

[2021-06-23 17:04] #169 closed

[2021-06-23 17:48] Keshiyer opened #170 "Automatically provide intellisense for certain % variables"
Certain % variables always have certain types under certain contexts in Objectscript.
For example, in any subclass of %CSP.Page, %request has type %CSP.Request, %response has type %CSP.Response and %session has type %CSP.Session. It would be great if these variables were automatically had #dim applied to them rather than having to do that for every method that uses them.

Similarly, in [code gener

[2021-06-23 18:01] isc-bsaviano commented on #170
Changed the title to make it clear the the request is for intellisense without having to `#Dim` these special variables, NOT for the LS to insert `#Dim` lines for these variables into the text of the file

[2021-06-25 13:53] isc-solon opened #171 "Review checking of macro arguments"
I have some macros that take class names and method names as arguments, **unquoted**. The macro definition itself quotes the argument. For example:

`if $$$ClassExists(FCE.Currency)`

VS Code is checking the argument and reports `Local variable 'FCE' is undefined.`

I'm not sure if there's any solution. I'm reporting it for your consideration.

[2021-06-25 14:37] isc-bsaviano commented on #171
@isc-solon There's nothing we can do here. There's no way for the parser to recognize that you're using `FCE.Currency` as an unquoted string.

[2021-06-25 14:37] #171 closed

[2021-06-25 14:47] isc-solon commented on #171
Macro arguments can be **anything**: complete/valid or incomplete/invalid expressions, quoted or unquoted strings, other macros. I guess the pros of evaluating the arguments outweigh the cons of not evaluating the arguments, even though sometimes false negatives can be reported.

[2021-06-30 14:18] isc-bsaviano opened #172 "Internally reported parser bugs"
- DP-5734: Syntax error displayed in studio but it really isn't
- DP-5815: In Studio SQL containing DATETIME shows as a syntax error
- DP-8233: Postconditional $list() with whitespace marked as error
- DP-283326: Studio flags pattern match expressions which use a macro value for the pattern as a syntax error
- DP-404907: ObjectScript Parsing problem with #dim
- DP-404706: VS Code - syntax checker

[2021-06-30 14:18] isc-bsaviano opened #173 "Embedded Python support"

[2021-06-30 17:21] #172 closed

[2021-06-30 17:21] #173 closed

[2021-07-02 07:56] xoxloviwan opened #174 "The Language Server server crashes on very large files"
When I open big file *.cls ~1.75 MB
[code]
Then
The InterSystems Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.

Version: 1.57.1 (user setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042
InterSystems Lang

[2021-07-02 12:21] isc-bsaviano commented on #174
@xoxloviwan How many lines is your file? The fix for #164 was verified with a MAC routine that was about 24000 lines long and 1.5MB in size. Parsing a file near that length is very slow but won't crash.

[2021-07-02 18:38] xoxloviwan commented on #174
~19815 lines
In our prod there is also legacy CLS file with 35478 lines (~3,2 MB) that language server made crashed.

[2021-07-02 18:48] isc-bsaviano commented on #174
@xoxloviwan Yeah, those files are just too large. If we increase the memory any further so we don't crash the parsing will take so long that it's not worth the effort. I can consider adding a check that will prevent the LS from crashing on these large files but you won't get intellisense for them.

[2021-07-02 19:14] xoxloviwan commented on #174
But why this files not made server crashed in version 1.1.4 + VSCode 1.54.3 (user setup) ?

I cannot detect this problem for this build:
Version: 1.54.3 (user setup)
Commit: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
Date: 2021-03-15T10:55:45.459Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042
InterSystems Language Server: 1.1.4

[2021-07-02 19:22] xoxloviwan commented on #174
When I update VS Code from 1.54.3 to 1.57.1 (InterSystems Language Server: 1.1.4) I got this:

[code]

[2021-07-02 19:31] xoxloviwan commented on #174
Analogically I got error stack as in first message when setup VS Code 1.54.3 and update InterSystems Language Server from 1.1.4 to 1.1.5

[2021-07-02 19:36] isc-bsaviano commented on #174
@xoxloviwan See #152. In short, VS Code updated their node version, which broke some of our dependencies so we had to change them.

[2021-07-05 09:11] xoxloviwan commented on #174
What will be impact more on intellisense difficulty? Number of labels, number of lines, line length, numbers of defined expressions?
Is it possible to parse not all file, for example only some thousand before and some thousand after cursor?

If it is possible only that as @isc-bsaviano proposed it will be already better

[2021-07-06 15:42] #170 closed

[2021-07-16 14:07] jtsalten opened #175 "Intellisense for property keys"
Issue Type: <b>Bug</b>

Hi,
I've realized that Intellisense doesn't offer help for property keys during class definitions...

Property Emp as %Integer (MINVAL=0) [....  here it should offer help but it doesn't.

Regards

Extension version: 1.2.2
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: N

[2021-07-16 14:09] jtsalten commented on #175
![image](https://user-images.githubusercontent.com/6997495/125960902-85f904a9-3b71-49a0-b23f-b76bb5a0d7fc.png)

[2021-07-16 14:09] isc-bsaviano commented on #175
@jtsalten You need to type a space after the open bracket. Space is one of our completion trigger characters.

[2021-07-16 14:12] jtsalten commented on #175
Oh my... ok. But shouldn't it appear also, even without thw white space, if I click Ctrl-SpaceBar?

[2021-07-16 14:17] isc-bsaviano commented on #175
It will if the space is already present. The completion provider is built around trigger characters so it will expect that trigger to already exist in the document. This is a known limitation of our provider (#13) that will require a lot of work to remedy and isn't a priority for us right now.

[2021-07-16 14:37] jtsalten commented on #175
OK. Not intuitive... but now that I know of it I'll take care. Thanks.

[2021-07-16 14:37] #175 closed

[2021-07-16 18:37] isc-aray opened #176 "Win32 error 126"
I have recently gotten a new laptop, and whenever I try to start the InterSystems Language Server, it fails with the below error:

[code]

Here is the system information from VSCode:

CPUs | Intel(R) Core(TM) i9-10885H CPU @ 2.40GHz (16 x 2400)
-- | --
GPU Status | 2d_canvas: enabled gpu_compositing: enabled multiple_raster_threads: enabled_on oop_rasterization: enabled opengl: enabled_on rasteriz

[2021-07-16 18:40] isc-bsaviano commented on #176
@isc-aray Are you using the latest versions of VS Code and all of our extensions?

[2021-07-16 18:44] isc-aray commented on #176
@isc-bsaviano I am using Language Server 1.2.2, ObjectScript 1.0.13, and VSCode 1.58.2.

[2021-07-16 18:51] isc-bsaviano commented on #176
@isc-aray I will have Andy look at this on Monday. I couldn't reproduce it on my Windows machine using the same versions.

[2021-07-19 15:58] isc-AndrewCheshire commented on #176
@isc-aray Could you check the Language Server libraries folder on your machine please?

In vscode, select menu **View/Command Palette**, type **open ext** and select **Open Extensions Folder** from the drop-down list - _not_ "Open Extension Logs Folder".

This should open an Explorer window.  Navigate into these folders in turn:
- **intersystems.language-server-1.2.2**
- **server**
- **lib**
- **w

[2021-07-19 16:47] isc-aray commented on #176
After rebooting the machine, I am no longer experiencing this issue.

[2021-07-20 08:37] #176 closed

[2021-07-22 13:29] isc-aray opened #177 "Spurious "Class does not exist" after `zNSpace` or `Set $NAMESPACE`"
When a method or classmethod switches to another namespace using the `zNSpace` command or by `Set`ting `$NAMESPACE`, Language Server continues to look for referenced classes in the original namespace. For example, this class will show an error if opened in the `USER` namespace:

[code]

Language server will report "Class 'Security.Roles' does not exist." However, this error is spurious, because wh

[2021-07-22 13:36] jaynewt1959 commented on #177
It's not reasonable (nor desirable) to have the parser attempt to evaluate object script code to discover contextual. That behavior is limited to runtime, not compile time. We will not be changing this behavior.

[2021-07-22 13:37] isc-bsaviano commented on #177
Closing as duplicate of #77

[2021-07-22 13:37] #177 closed

[2021-07-22 13:47] bourette commented on #177
Although it's not desirable to have the parser attempt to evaluate this it would be nice if there was a directive to help the parser resolve this.  It's annoying to have code tell you there is a problem when there isn't.

[2021-07-22 13:57] jaynewt1959 commented on #177
Apart from littering your source code with directives that only affect a particular IDE implementation doesn't seem like a reasonable thing either. It would take a tremendous amount of work to implement that (updates to the parsers, macro preprocessor, compiler etc etc). This is a definite won't do

[2021-07-22 14:00] isc-aray commented on #177
It's fully unreasonable to have the IDE tell me that good code is bad code. If there is a workaround, I'd love to know what it is, but otherwise, this makes language-server completely useless to me. If I have to hunt through a pile of spurious issues to find real ones, I'd rather just disable error checking altogether.

[2021-07-22 14:03] bourette commented on #177
Use $classmethod instead.

[2021-07-22 14:03] isc-bsaviano commented on #177
@isc-aray You can turn "class does not exist" errors off. The setting is `intersystems.language-server.diagnostics.classes`.

[2021-07-22 14:04] bourette commented on #177
I think turning it off completely is a mistake.

[2021-07-22 14:06] isc-bsaviano commented on #177
@bourette The diagnostics will remain on by default, I was just showing Andrew how to turn them off if he wants to.

[2021-07-24 09:49] ruiyan-yu opened #178 "Go to definition (F12) on Labels Case-Sensitive issue"
Hi,

Language Server v1.2.2
F12 selects what comes first. It ignores case-sensitivity of labels
![order](https://user-images.githubusercontent.com/18198895/126864550-7834c09d-6575-42ff-9eee-220246a9c264.png)

[2021-07-26 12:30] #178 closed

[2021-07-26 19:46] isc-bsaviano opened #179 "Go to definition fails in ISFS CSP files"
When making a go to definition request in a CSP file, the request will fail because the URI contains the `csp` query parameter

![MicrosoftTeams-image](https://user-images.githubusercontent.com/44776135/127049067-9022c94c-851c-464f-8013-ebcfb66893d3.png)
_Reported internally by Robert Costa_

[2021-07-27 12:11] isc-bsaviano commented on #179
This is a bug in the main extension.

[2021-07-27 12:11] #179 closed

[2021-08-03 17:29] UmkaBearpaw commented on #174
Hi, got the same problem with huge legacy class. There is no way to split into several classes right now. Is it possible to implement the proposed check?

[2021-08-03 17:46] isc-bsaviano opened #180 "Go to definition on routine label in another routine doesn't take you to the label"
For example, when right-clicking on `done` in the line ` d done^DBACKC`, go to definition takes you to the top of `DBACKC.mac`. The expected behavior is that the cursor will automatically move to the line containing the `done` label.

_Reported internally by Robert Costa_

[2021-08-03 18:30] #180 closed

[2021-08-04 06:15] ChrisJMarais opened #181 "Else command incorrectly shortened to "e" during formatting"
The problem is with if statements that have an else

Config
=====
"intersystems.language-server.formatting.commands.case": "lower",
"intersystems.language-server.formatting.commands.length": "short",

Code
====
i (a=b) {                                   //<------------- if is shortened to i (this works)
} elseif (c=d) {                          //<------------- elseif is not shortened (this is ac

[2021-08-04 11:49] isc-bsaviano commented on #181
@ChrisJMarais Thanks for the detailed issue report

[2021-08-04 11:56] #181 closed

[2021-08-04 13:39] isc-bsaviano commented on #174
I did some research and I haven't figured out a way to exclude files based on length. The [DocumentSelector](https://code.visualstudio.com/api/references/document-selector) that the LS uses doesn't give that as an option. @gjsjohnmurray do you have any ideas?

[2021-08-05 08:01] gjsjohnmurray commented on #174
@isc-bsaviano can LS call vscode.workspace.fs.stat to discover the size of a file the first time it is asked to process it? However I haven't verified if the isfs FSP returns a true size (or at least an accurate enough one for the purpose of deciding "too big to parse").

[2021-08-05 11:55] isc-bsaviano commented on #174
@gjsjohnmurray I would have to do that in the middleware on the client side since the LS itself doesn't have access to the `vscode` apis. I think I would be required to intercept every request to the server to do that check, which doesn't seem like a good way to do this.

[2021-08-10 06:19] MakarovS96 opened #182 "Language Server crashes on InterSystems macs due to unsigned libraries"
![image](https://user-images.githubusercontent.com/19629483/128817737-f0b795c6-a3b3-4ab6-8f51-62910d176a00.png)

[2021-08-10 06:22] MakarovS96 commented on #182
platform: macOS 11.4 x86
vscode version: 1.59.0
ext version: 1.2.2

[2021-08-10 10:40] isc-bsaviano commented on #182
@MakarovS96 Are you using an InterSystems machine?

[2021-08-10 11:14] MakarovS96 commented on #182
@isc-bsaviano Yes

[2021-08-10 11:45] isc-jsmith commented on #182
I've hit the same issue. Also using an InterSystems machine.

[2021-08-10 21:57] isc-bsaviano commented on #182
I am working on a solution to this issue. The next language server version will contain a fix.  I don't have an ETA yet

[2021-08-11 18:54] isc-kiyer opened #183 "ByRef and Output variables are present in the "Outline" section of a file when multilineMethodArgs is true"
When a class is opened, any methods that have ByRef/Output arguments, have their corresponding arguments show up in the "Outline" section which is generally meant for class level attributes (like methods, parameters, properties etc.). It should not have further info on specific methods.

<img width="371" alt=" 2021-08-11 at 14 45 51" src="https://user-images.githubusercontent.com/75783557/12908648

[2021-08-11 19:47] isc-bsaviano opened #184 "Provide DocumentLinks for HTML tags in class documentation blocks"
[CLASS, METHOD, PROPERTY and QUERY HTML tags](https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GOBJ_classes#GOBJ_classdoc_html) in UDL documentation comments are rendered with links in the class reference. We should reproduce this behavior in VS Code.

[2021-08-17 14:03] #183 closed

[2021-08-17 14:03] #184 closed

[2021-08-18 08:34] daimor opened #185 "Failed in GitHub Codespaces"
When running some environment with GitHub Codespaces, the extension fails there
[code]

[2021-08-18 09:50] isc-AndrewCheshire commented on #185
@daimor I don't know whether this problem is due to the shared libraries in our extension but it may well be - I looked through the Codespaces documentation and it seems that shared libraries in extensions need special handling for Codespaces: https://code.visualstudio.com/api/advanced-topics/remote-extensions#using-native-node.js-modules

[2021-08-19 14:26] pvdmm opened #186 "Request initialize failed with message: Dynamic Linking Error: Win32 error 126"
Issue Type: <b>Bug</b>

When i try to start the InterSystems Language Server, it fails with the below error:

Request initialize failed with message: Dynamic Linking Error: Win32 error 126

I have tried another servers and reinstall the extension, but i always got the same error.

Extension version: 1.2.2
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.8

[2021-08-19 14:34] isc-bsaviano commented on #186
@pvdmm Have you experienced this issue with previous versions of the extension? Your libraries look fine to me. This might be similar to #176

[2021-08-19 14:39] pvdmm commented on #186
It's a new windows instalattion, i have only tried this version and never worked with me. I saw the #176 issue and checked the files, also rebooted the machine after reinstalling the extesion, but still not working.

[2021-08-19 14:42] isc-bsaviano commented on #186
Thanks for the extra info. Can you try installing a previous version to see if that works? You can do that by clicking on the extensions logo in the side bar, clicking on the gear icon next to the language server extension, and then selecting 'Install another version...'. Try to install version 1.2.1 and let me know how it goes.

[2021-08-19 15:07] pvdmm commented on #186
Same error on  these versions 1.2.1, 1.2.0, 1.1.6.

I also removed my corp antivirus.

Uncaught Errors (1)
Request initialize failed with message: Dynamic Linking Error: Win32 error 126

Developer console:

![image](https://user-images.githubusercontent.com/42217732/130093183-25bcac62-12f5-493d-a36a-96cd0b11e4b1.png)

[2021-08-19 15:16] isc-bsaviano commented on #186
Thanks for checking that. Is there anything unique about your windows install? I have a desktop running windows 10 pro 10.0.19043 (same as yours) and have never experienced issues with the language server.

[2021-08-19 15:22] pvdmm commented on #186
Nothing special, just the windows update that is controlled by the company.
I have tried to uninstall the antivirus because another employees with Windows have the same issue, but it didn't solve the problem.

I'm also using **proposed-api**, is there any connection?

[2021-08-19 15:32] isc-bsaviano commented on #186
Enabling proposed APIs should have no effect on the language server. I'm going to assign this issue to the developer who works on the parser libraries. He will be back online on Monday.

[2021-08-19 17:16] pvdmm commented on #186
Ok, thanks @isc-bsaviano , i also tried it on my personal laptop, that doesn't have windows polices and blocks, same issue.

[2021-08-19 17:18] isc-bsaviano commented on #186
How recently did you update those windows machines? I updated mine a few days ago but maybe I'm missing a more recent OS update that causes this issue.

[2021-08-19 17:28] gjsjohnmurray commented on #186
@pvdmm have these Windows machines previously had InterSystems Studio installed? I'm wondering if the extension relies on the presence of something (e.g. an MSVC runtime DLL) that isn't bundled with it.

[2021-08-19 17:28] pvdmm commented on #186
This one was updated last week (21H1 - build 19043.1165) . The other has the same version (21H1) with last update in July and when I was testing, windows downloaded a new update, so I ran the tests before and after the update.

This one was updated last week (21H1 - build 19043.1165) . The other has the same version (21H1) with last update in July and when I was testing, windows downloaded a new u

[2021-08-19 17:37] pvdmm commented on #186
Nothing in mine, but in a coworker that doesn't work either, only has Studio installed (InterSystems Studio Cliente 2020.2.0 Build 211) without Iris/Caché

[2021-08-20 13:38] pvdmm commented on #186
I installed the latest version of Iris, restarted and still not working.

![image](https://user-images.githubusercontent.com/42217732/130241647-d38e28ee-f05c-4492-a104-c0f22e683d39.png)

[2021-08-23 14:14] isc-AndrewCheshire commented on #186
@pvdmm Would it be possible for you to install a Microsoft logging tool to monitor VSCode while it's starting up?  I need this information to find out which DLL dependency is not loading.

If you are in a position to do this I'll send you full instructions.

[2021-08-23 14:34] pvdmm commented on #186
Sure, please send the instructions

[2021-08-23 14:45] isc-AndrewCheshire commented on #186
@pvdmm The tool is _Process Monitor v3.84_, available from https://docs.microsoft.com/en-us/sysinternals/downloads/procmon

The downloaded file is a .zip so you need to extract the contents into some folder - it doesn't have an installer, as such, so I think that it can be removed just by deleting the folder.

First of all, make sure that VSCode is running.

Run Procmon64.exe and press control+L t

[2021-08-23 17:32] isc-bsaviano opened #187 "Support "Go to Type Definition" on methods and properties that have types"

[2021-08-23 17:43] isc-bsaviano opened #188 "Support intellisense for chained method calls"
For example, hovering over `%IsDefined` in the code below would return the description of `%Library.DynamicObject::%IsDefined()`.

[code]

[2021-08-23 17:45] #187 closed

[2021-08-23 17:45] #188 closed

[2021-08-23 18:57] pvdmm commented on #186
[Logfile-VsCode.zip](https://github.com/intersystems/language-server/files/7034285/Logfile-VsCode.zip)

@isc-AndrewCheshire log attached

[2021-08-24 00:21] amirsamary commented on #182
Having the same issue here. Thank you! Amazing product! Love it!

[2021-08-24 10:21] isc-AndrewCheshire commented on #186
@pvdmm Thanks for the log, I think that your problem is due to a couple of missing DLLs: msvcp120.dll and msvcr120.dll

These can be installed using the Visual C++ 2013 redistributable package available from https://support.microsoft.com/en-us/topic/update-for-visual-c-2013-redistributable-package-d8ccd6a5-4e26-c290-517b-8da6cfdf4f10

This is a link to an page talking about a bugfix update but it

[2021-08-24 11:05] pvdmm commented on #186
Thanks man, it's worked now! 💯 👍

[2021-08-24 11:05] #186 closed

[2021-08-24 18:16] isc-bsaviano commented on #182
@MakarovS96 @isc-jsmith @amirsamary The directions to resolve this issue are in my most recent post in the Technical Services Information team. Please follow up with me there if you're still experiencing issues.

[2021-08-24 18:16] #182 closed

[2021-08-30 12:39] isc-bsaviano commented on #138
@bg-ssh This is still planned, but I don't have an ETA. We're blocked by other teams within InterSystems that have more critical issues on their plate

[2021-08-30 14:08] isc-bsaviano opened #190 "Add Diagnostics for Deprecated classes"
Addition to #163. Also add strikethrough in completion list for deprecated classes.

[2021-08-30 15:17] #190 closed

[2021-09-08 14:31] bourette opened #191 "Error while hovering over non-existent class"
Issue Type: <b>Bug</b>

Opening a UDL class (not on the server) from the source tree and moving the mouse over the extends causes a hover error due to the non existent class in the list

[Trace - 10:26:45 AM] Received response 'textDocument/hover - (5231)' in 5ms. Request failed: Request textDocument/hover failed with message: Cannot read property 'content' of undefined (-32603).
[Error - 10:26:45

[2021-09-08 15:43] bourette commented on #191
Okay, I just figured it out.  I clicked on the latest history item for //healthshare/hscore/latest/databases/hslib/cls/HS/Gateway/HL7/InboundProcess.cls which opened as  /private/tmp/jb(p4v)/USMBP16jbourett_perforce_1666/healthshare/hscore/latest/databases/hslib/cls/HS/Gateway/HL7/InboundProcess#1.cls

[2021-09-08 15:48] isc-bsaviano commented on #191
Opened that exact class, still not seeing an error.

[2021-09-08 17:10] #191 closed

[2021-09-09 16:39] isc-bsaviano opened #192 "Internally reported parser bugs"
- DP-7477: ##continue after a #; comment is miscolored as part of the comment
- DP-13166: The JavaScript parser now colors the 'const' keyword
- DP-406783: Parser does not support $zu(113)
- DP-406802: Macro used as an oref does not parse in VSCode
- DP-407296: Indented python is marked as errors
- DP-407468: XData blocks with MimeType of "application/python" are colored as XML errors
- DP-407607:

[2021-09-13 13:01] #192 closed

[2021-09-22 13:08] j4y33 commented on #182
I have the same issue with newest version of VSCode

[2021-09-22 18:35] isc-bsaviano commented on #182
@j4y33 If you're an InterSystems employee, message me internally. If not, you're experiencing a different bug so please open a new issue with more details.

[2021-09-22 21:29] smg1 commented on #138
Looking forward to the Arm64 build as well

[2021-10-07 13:33] isc-bsaviano opened #193 "Add error Diagnostic for missing package in class definition line"
Required to resolve https://github.com/intersystems-community/vscode-objectscript/issues/745

[2021-10-07 15:08] #193 closed, assigned to isc-bsaviano

[2021-10-08 16:33] isc-bsaviano opened #194 "Add `TypeHierarchy` support for classes"
VS Code version 1.61 was released on 10/7/21 and brought with it the finalized version of the [TypeHierarchy API](https://code.visualstudio.com/api/references/vscode-api#TypeHierarchyProvider). We should adopt this to show sub and superclasses for ObjectScript classes.

[2021-10-08 18:40] #194 closed, assigned to isc-bsaviano

[2021-10-14 18:22] isc-bsaviano opened #195 "HTML parser doesn't recognize CSP `<server>` tag"
See https://github.com/intersystems-community/vscode-objectscript/issues/747

[2021-10-14 18:59] isc-bsaviano opened #196 "Improve handling of `<EXAMPLE>` HTML tags in Intellisense tooltips"
The custom [\<EXAMPLE\> HTML tag](https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=GOBJ_classes#GOBJ_classdoc_html) in class documentation tags formatted blocks of code that are colored in the class reference. Currently, the Language Server doesn't convert these tags to Markdown code blocks, so the tagged text is rendered as plain text. For example, this method descript

[2021-10-18 16:16] gjsjohnmurray opened #197 "Language Server fails on a 32-bit Windows 7 workstation"
![image](https://user-images.githubusercontent.com/6726799/137769307-3cab63db-13cf-4f6a-b5ce-f82aca4d5ffc.png)

I'm not certain if this is cause by the platform being 32-bit, or Windows 7, or by something else.

Is 32-bit Windows a supported platform for LS?

[2021-10-19 11:28] isc-AndrewCheshire commented on #197
@gjsjohnmurray No, 32-bit Windows isn't supported.

[2021-10-19 21:00] #197 closed, assigned to nobody

[2021-10-21 16:05] isc-bsaviano commented on #138
Still no updates unfortunately. This is still being explored. I will post any updates when I have them.

[2021-10-21 17:50] isc-bsaviano opened #198 "Internally reported parser bugs"
- DP-6540: Merge command on multidimensional context object property not colored correctly
- DP-403788: Support new Index Type keyword value "columnar" in VS Code
- DP-408172: Python colorer doesn't parse try...finally correctly
- DP-408344: Correct Python parse error for assignment expression as first argument to function

[2021-10-22 12:36] #195 closed, assigned to isc-AndrewCheshire

[2021-10-22 12:36] #198 closed, assigned to nobody

[2021-11-01 07:22] random343 commented on #174
Hello.
I also have the same problem with large files.
I really need a solution to the problem.

[2021-11-01 14:38] AlexeyM64 commented on #174
Hello,
I've got the similar problem with huge classes. The proposed check sounds reasonable as it's better than nothing. Implement it, please!

[2021-11-04 05:01] CraigRegester opened #199 "Extra slash added before `pathPrefix` causes 404 errors"
Attempting to code a business operation in a fresh HSUCR 2021.1 Foundation namespace and constantly getting hit with this error, no matter what class I open. Even hovering over something common/simple like Ens.Request produces this error.

I have found other closed bugs from last year that had similar errors but all dealing with other scenarios.

[2021-11-04 12:17] isc-bsaviano commented on #199
@CraigRegester Just to clarify, are you only seeing this bug when you hover over a class name like `Ens.Request`, or are you also seeing it when you hover over other elements like class members? Also, you're using the latest versions of all 3 extensions, correct?

[2021-11-04 13:38] CraigRegester commented on #199
@isc-bsaviano Everywhere, I used the Ens.Request example just to show that even with a base level object that I know "works" (with the language server) in our I4H isfs instances, I was still getting the error.

UCR is relatively new to us as an org, and I just started using vs code with it so at first I thought the errors were something I configured improperly for vscode, but validated all that. W

[2021-11-04 14:01] isc-bsaviano commented on #199
@CraigRegester I just installed a new HealthShare with $ZV `IRIS for UNIX (Apple Mac OS X for x86-64) 2020.1 (Build 217_1_20728U) Fri Apr 16 2021 11:15:46 EDT`, created a new Foundation namespace and opened class `HS.Director`. I'm not seeing any errors when hovering. Does this resemble your setup?

[2021-11-04 18:35] CraigRegester commented on #199
@isc-bsaviano Yes - relatively close to our setup, just different base OS.
IRIS for UNIX (IBM AIX for System Power System-64) 2020.1 (Build 217_1_20728U) Fri Apr 16 2021 11:20:49 EDT

I just opened up HS.Director.cls, clicked into the window (giving it focus) - using **ClassMethod StartAll** as my point of reference, if I hover over %Status, I get:

[code]
If I hover over ..invokeAll, I get a slig

[2021-11-04 18:50] isc-bsaviano commented on #199
@CraigRegester Thanks for the detailed response. The error message is different but I believe the cause is the same. The REST call to the server is failing, which is why you're running into issues where a variable is `undefined` when you'd expect it to have a value. Can you go into your settings and set the value of `intersystems.language-server.trace.server` to `"messages"`? That will create the

[2021-11-04 19:00] CraigRegester commented on #199
@isc-bsaviano

[code]

[2021-11-04 19:07] isc-bsaviano commented on #199
Sorry, I read through you message quickly and didn't realized that you already had the trace on. I was hoping that we'd see an error related to the REST request failing. Do you have Wireshark or another HTTP trace service on your machine? I would like to see the the HTTP request and response objects for the REST request when you hover over `%Status` or `..invokeAll()`.

[2021-11-04 19:25] isc-bsaviano opened #200 "Update README to point to new `Settings Reference` documentation page"
Instead of maintaining our own setting reference, our README should point to new `Settings Reference` page introduced by https://github.com/intersystems-community/vscode-objectscript/pull/758

[2021-11-04 20:13] #200 closed

[2021-11-04 20:28] CraigRegester commented on #199
Unfortunately it seems I cannot use Wireshark to see the requests unencrypted. With verbose mode turned on in settings in VS Code for the language server, I can see this hovering over %Status:

[code]

I tinkered with the i4h instance so I could see what the payload should look like and saw this:

{"query":"SELECT Description FROM %Dictionary.CompiledClass WHERE Name = ?","parameters":["%Library.S

[2021-11-04 20:34] isc-bsaviano commented on #199
@CraigRegester That definitely helps! That query payload is exactly what I'd expect. Maybe the issue is with how I apply the path prefix. If you turn on your instance's HTTP trace on via the `Web Gateway Management` page, do you see that request showing up when you hover in VS Code?

[2021-11-04 20:43] CraigRegester commented on #199
Glad it helps  :) Well.. I was going to say 'I swear I tried that (turning on the trace in WG)' and got nothing but I just tried again after clearing up a log permission issue and now I see the traces. 🤦🏼‍♂️

![image](https://user-images.githubusercontent.com/65192819/140416983-485429d3-1f59-4406-a595-c24c9c12f8d5.png)

The 404 wasn't what I expected to see. Double-slash in front of the prefix?

[2021-11-04 20:47] isc-bsaviano commented on #199
@CraigRegester Yup, looks like the LS is adding an extra slash before the `pathPrefix`:

https://github.com/intersystems/language-server/blob/292df30159f09c40f677ac832b3acb4b29f3308f/server/src/server.ts#L2346-L2351

I'll get this fixed tomorrow.

[2021-11-04 20:49] CraigRegester commented on #199
Thx @isc-bsaviano - I believe I put the prefix in the settings file based on the documentation page, but I guess probably best to handle any manner of sin a user like me puts in there, hah.

Thanks for your persistence guiding me along', much appreciated.

[2021-11-04 20:53] isc-bsaviano commented on #199
@CraigRegester Thanks for helping me debug this. Your `pathPrefix` is perfectly valid. In fact, the server manager extension requires that you include the leading slash:

[code]

[2021-11-05 12:38] isc-bsaviano commented on #199
@CraigRegester Please download the beta vsix found [here](https://github.com/intersystems/language-server/releases/tag/v1.2.6-dev.199) and let me know if if it works for you

[2021-11-05 13:08] CraigRegester commented on #199
Success! Thanks for hitting this so quickly.

[code]

[2021-11-05 13:09] isc-bsaviano commented on #199
Awesome! Glad to hear it. I will release a new version shortly.

[2021-11-05 13:10] #199 closed

[2021-11-15 14:23] isc-bsaviano opened #201 "Contents of `<EXAMPLE>` HTML tags shown on one line in Intellisense tooltips"
Improve the work from #196. For example, the documentation for `%Library.Routine`:

[code]

is shown as:

![Screen Shot 2021-11-15 at 9 05 47 AM](https://user-images.githubusercontent.com/44776135/141795335-8a51f966-df4d-4b5e-a69b-d1845113eaf6.png)

[2021-11-15 15:39] #201 closed

[2021-11-16 18:18] isc-bsaviano opened #202 "Add handler for `exit` request"
The server should terminate its process when it receives the [`exit`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#exit) request.

[2021-11-16 18:18] #202 closed

[2021-11-17 18:17] isc-bsaviano opened #203 "Add `%PARALLEL` to applicable queries that contain `UNION ALL`"

[2021-11-17 18:24] #203 closed

[2021-11-22 10:14] daimor opened #204 "Class parser interprets modulo operator as a CSP extension"
Class %Library.PopulateUtils
`density#($$$PRand(density)+1)` marked as error, and everything below
![image](https://user-images.githubusercontent.com/1212251/142842771-6d563cbb-a336-42e5-93e1-2d71332d04fe.png)

[2021-11-22 13:17] isc-bsaviano commented on #204
@isc-AndrewCheshire I inspected the tokens and the bug is that `#(` is parsed as a CSP extension, when it should be a modulo operator and delimiter.

[2021-11-30 11:25] xoxloviwan opened #205 "How to disable autocomplete on key enter after type 'do'?"
In our project use old .m syntax as
[code]
but if I start type in VS Code in objectscript
it autocomlete that
[code]

[2021-11-30 11:42] gjsjohnmurray commented on #205
1. From Command Palette run `Insert Snippet`
2. Find the Extension Snippet you want to hide, and click the icon on its right-hand end:

![image](https://user-images.githubusercontent.com/6726799/144041121-cc8ac6fd-d090-4c8a-b0bb-7fa82bc86ba7.png)

[2021-11-30 11:46] daimor commented on #205
I think the best way would be to return back commands suggestions, so, it will put simple `Do` before snippets.

[2021-12-09 15:14] mfortuna-isc opened #206 "Parsing Error: Language server does not detect namespace switch in code"
# Summary
![image](https://user-images.githubusercontent.com/95868869/145421072-c4e5d4de-4469-43cf-b3da-1720c5d6e7bf.png)
 In my small method, I switch to the %SYS namespace which maps to the database containing class `Config.Namespaces`. On return, the namespace switches back to the namespace of the calling method. This is a common pattern described here:  [docs](https://docs.intersystems.com/iri

[2021-12-09 15:16] isc-bsaviano commented on #206
Duplicate of #77 & #177

[2021-12-09 15:16] #206 closed

[2021-12-09 16:16] mfortuna-isc commented on #206
Ah. I'll search through closed issues next time. (Forgot about the default is open filter). Thanks

[2021-12-13 14:43] isc-bsaviano opened #207 "Support InterSystems Server Manager 3.0's `AuthenticationProvider`"
See https://github.com/intersystems-community/intersystems-servermanager/pull/109

[2021-12-13 14:49] #207 closed

[2021-12-13 19:06] isc-bsaviano opened #208 "Add support for new `<arg>`, `<args>` and `<return>` Documatic HTML tags"
Documatic will soon support documentation for method arguments and return types using the following syntax:

[code]

This will be converted to the following HTML:

[code]

The Language Server should do a similar conversion when showing this in Hover/SignatureHelp tooltips.

[2021-12-14 15:58] gjsjohnmurray commented on #207
Pre-release v1.3.2021121001 of vscode-objectscript is now available on Marketplace. It uses Server Manager 3's authentication provider and no longer returns password in its `serverForUri` API response. Please verify that your next LS VSIX will work correctly alongside this.

[2021-12-14 19:42] #208 closed

[2021-12-16 17:32] isc-bsaviano commented on #207
@gjsjohnmurray I just installed the pre-release versions of the main and server manager extensions and a beta version of the LS with the auth provider code in my VS Code Insiders. When I opened a workspace with isfs files open, I got an authentication provider promt for the main extension, but not the LS. I checked my LS logs and it appears that the main extension is still sending a password in `s

[2021-12-16 21:51] gjsjohnmurray commented on #207
Sorry about that. I have just published a new pre-release (1.3.2021121601) which I hope works properly.

[2021-12-16 21:55] gjsjohnmurray commented on #207
@isc-bsaviano when I told VS Code to check for extension updates it reported the new one as available (I was already using the earlier pre-release). After clicking the Update button it became a Reload button. I did so, but after the reload it had switched to the release version, so I had to opt in to pre-release again. I'll be interested to hear if you see the same happen.

[2021-12-16 22:04] isc-bsaviano commented on #207
@gjsjohnmurray Just updated to the newer pre-release. I didn't see your behavior when I installed, it correctly had the new pre-release installed after the reload. This is on the latest Insiders though, not stable. With the new pre-release, I see the expected prompt for the auth provider and once I grant permission the LS appears to work fine.

[2021-12-17 13:04] isc-kiyer opened #209 "Errors when parsing CSS custom properties embedded in an ObjectScript method"
If I have an ObjectScript method in which I am rendering HTML and CSS using <html> and <style> tags respectively, if the <style> tag has CSS using custom properties (such as `--my-prop: 2px`), the language server reports an error and shows errors for the entire remainder of the tag. The language server should parse this correctly as it is valid CSS syntax.

Here is a screenshot:
<img width="692" a

[2022-01-10 19:42] #204 closed

[2022-01-11 03:04] IRISMeister commented on #32
On Windows10 + Remote SSH extenstion + Ubuntu on VMWARE environment, I'm still getting the same error even with Version 1.2.7 .

I noticed that If I run vscode itself on Ubuntu(which is unusual for me), this issue dosen't happen.

[code]

[2022-01-12 15:28] isc-bsaviano opened #210 "Add Intellisense for Property data type parameters"
Property data types can have parameters that control the behavior of the Property. Some are available for [all classes](https://irisdocs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=GOBJ_proplit#GOBJ_proplit_def_core_parms), and some are [class-specific](https://irisdocs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=GOBJ_proplit#GOBJ_datatypes_parameters). The

[2022-01-12 15:32] #210 closed

[2022-01-12 16:37] isc-bsaviano opened #211 "Improve behavior in workspaces with no server connection"
Since version 1.2.7, users who attempt to use some intellisense features like hover in a document that's located in a local folder with no configured server connection see this error message:

Message: Request intersystems/server/resolveFromUri failed unexpectedly without providing any details.
Code: -32603

![MicrosoftTeams-image](https://user-images.githubusercontent.com/44776135/149182033-5e8c0

[2022-01-12 18:10] #211 closed

[2022-01-14 13:44] isc-aray opened #212 "ILS requests all fail with resolveFromUri failed unexpectedly"
Since yesterday's update, I am now getting an error whenever I try to use any language-server features:

![image](https://user-images.githubusercontent.com/43610734/149522050-46ce8fbe-3525-436f-9069-464ed51f2743.png)

The error recorded in the output log is:
[code]

It appears that the server is responding appropriately to a request to the `atelier/v4/*/doc/*` API, either with `200 OK` or `304 Not

[2022-01-14 13:52] isc-bsaviano commented on #212
@isc-aray Are you working client side or server side? If the latter, can you send me your `.code-workspace` file (with any sensitive info redacted)? I have a server-side isfs workspace using LS 1.2.8, main extension 1.2.2 and server manager 2.0.6 and everything is working fine

[2022-01-14 13:55] isc-aray commented on #212
I am working client-side, I think. I have all the files locally on my machine and hook up various instances to it as required to do my work.

[2022-01-14 13:59] isc-bsaviano commented on #212
Ok, I just checked using a class on my local file system and I still couldn't see your error. Can you confirm that you're using the same extension versions as me? Those are the latest stable released versions.

[2022-01-14 14:02] isc-aray commented on #212
ILS 1.2.8
ObjectScript 1.3.2022011401
VSCode 1.63.2
I do not use Server Manager because I have a large number of short-lived instances that pop into existence and then get deleted a few days later

[2022-01-14 14:06] isc-bsaviano commented on #212
I have no idea what version of the main extension that is. The version number looks like a pre-release (all of our pre-releases have the date format) so it shouldn't be in the main release channel. I suggest manually rolling back to 1.2.2 (or downloading a 1.2.3 beta release from [here](https://github.com/intersystems-community/vscode-objectscript/releases)) until I can figure out what's in that v

[2022-01-14 14:13] isc-bsaviano commented on #212
That's good to hear. I will leave this issue open so other people experiencing this issue can see it.

[2022-01-14 16:25] isc-bsaviano commented on #212
@isc-aray Main extension version 1.4.0 is out. Do you still see this issue with that version?

[2022-01-14 17:28] isc-bsaviano commented on #212
@isc-aray Version 1.4.0 is bad. A version 1.4.1 should be out soon. Sorry for the mix up

[2022-01-14 18:03] isc-bsaviano commented on #212
Version 1.4.1 is out

[2022-01-14 20:08] #212 closed

[2022-01-14 20:40] isc-aray commented on #212
Can confirm issue does not occur in 1.4.1. Thank you again!

[2022-01-19 12:33] gjsjohnmurray opened #213 "`vh` and `vw` CSS units are marked as invalid"
![image](https://user-images.githubusercontent.com/6726799/150129911-042baf0e-6277-4271-9dee-7036f71633d7.png)

Source is from https://github.com/intersystems/TestCoverage/blob/master/cls/TestCoverage/UI/Application.cls

Documentation: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units#lengths

[2022-01-19 13:10] isc-bsaviano commented on #213
Reported internally as DP-411241

[2022-01-31 06:02] IRISMeister commented on #32
@gjsjohnmurray
Hello again,

I think I've found a cause (at least one of them) which triggers LS crash via RemoteSSH.
LS v1.2.8
ObjectScript v1.4.1

If a class method is using syntax like $SYSTEM.X.Y (such as $SYSTEM.OBJ.Version()), LS crashes.
Using ##class(%SYSTEM.X).Y() is OK.
Using this syntax in routine (MAC file) is also OK.

Here is a very simple code to reproduce this.
https://github.com/I

[2022-01-31 16:14] gjsjohnmurray commented on #32
Pinging @isc-bsaviano

[2022-02-01 07:16] michaelbroesdorf opened #214 "SQL keyword TRUE marked as error in embedded SQL"
Issue Type: <b>Bug</b>

In the following embedded SQL, the SQL keyword TRUE is marked as an error:
&sql(SELECT filepath, timeout, overwrite
		INTO :filepath, :timeout, :overwrite
		FROM hs_registry_service.filetype WHERE name = :entryname AND push = **TRUE**)

Can this be fixed or is there a workaround?

Many thanks,

Extension version: 1.2.8
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e6

[2022-02-01 13:06] isc-bsaviano commented on #214
Does that query execute correctly? I'm not sure that InterSystems SQL supports that syntax. For example, I entered this query in the SMP and it didn't work (Abstract is a `%Boolean`):

[code]

[2022-02-01 13:33] isc-bsaviano commented on #32
@IRISMeister Thanks for the extra info. I'm not sure why that specific syntax would cause an error. I will investigate. We are working internally on support for more unix environments.

[2022-02-03 12:47] michaelbroesdorf commented on #214
Hi Brett,

you are right – that syntax is wrong. Sorry about that!

Best,

MICHAEL BRÖSDORF | HEALTHSHARE SOLUTIONS ENGINEER
INTERSYSTEMS GMBH | Robert-Bosch-Straße 16a | 64293 DARMSTADT | GERMANY
T: +49 6151 1747 0 | M: +49 162 2182 493

Geschäftsführer: John Macheras, Lawrence Bradley Eingetragen beim AG Darmstadt unter HRB 4966
*This message and any attachments are solely for the intended recip

[2022-02-03 12:51] #214 closed

[2022-02-09 16:37] mvhenderson opened #215 "Suppress or prioritize generated methods from intellisense pick-lists"
The auto-complete pick-lists put generated methods at the top. Since the use of these methods is less common I would like a way to either suppress them completely from the auto-complete or at least prioritize the list to make the actual member the first pick.

Example 1:  Here `LastName` or `LastEnteredBy` should be first (simple string property), not the generated methods

<img width="567" alt="l

[2022-02-09 16:48] isc-bsaviano commented on #215
@mvhenderson I will check my sorting. I know that I have code that is supposed to show class members that originate in the base class first (with inherited stuff after) but that may not take into account these generated methods.

[2022-02-09 17:33] isc-bsaviano commented on #215
@mvhenderson Figured it out. The queries that I use to find all valid class members used the wrong value for the Origin column, which is used for sorting. This was only a problem for inherited properties.

[2022-02-09 17:33] #215 closed

[2022-02-11 19:52] gjsjohnmurray opened #216 "Noisy failure when `"active": false` in `objectscript.conn`"
Issue Type: <b>Bug</b>

This looks similar to #211

Using the client-side development paradigm, if a connection is configured but disabled (e.g. by togging it from its panel in the status bar), the LS output channel reports a lot of failure messages when a class is opened. And on my 1.65 Insiders I also get notifications about it crashing repeatedly.

Extension version: 1.2.8
VS Code version: Code

[2022-02-11 21:02] isc-bsaviano commented on #216
@gjsjohnmurray I see some axios errors in the Output channel but even on Insiders I'm not seeing any crashes.

[2022-02-11 21:29] gjsjohnmurray commented on #216
![image](https://user-images.githubusercontent.com/6726799/153672017-57a2c8bd-6267-48f1-85bc-1245da0c9af2.png)

[code]
Only enabled extensions for this workspace are the ObjectScript Extension Pack ones.

![image](https://user-images.githubusercontent.com/6726799/153672397-fa2e0ee5-5638-441b-a309-2f2ea69d2fa6.png)

From the LS output channel:
[code]

The Atelier version being used looks suspect.

[2022-02-11 21:34] gjsjohnmurray commented on #216
.vscode\settings.json

[code]

[2022-02-12 12:19] gjsjohnmurray opened #217 "Recognize new `objectscript-int` language id"
The PR to fix https://github.com/intersystems-community/vscode-objectscript/issues/823 introduces `objectscript-int` as a new language id, and associates it with the `.int` extension.

Up to now, LS has expected .int files to have the `objectscript` language id. That will continue to be used for `.mac` files.

LS already uses the file extension to decide whether or not to permit MAC-only syntax. B

[2022-02-12 12:22] gjsjohnmurray commented on #217
Also needs adding here:

https://github.com/intersystems/language-server/blob/410a711f32847314cd73a55e963e4cfd62ff1d6b/package.json#L31-L41

[2022-02-12 18:25] sethjberkowitz commented on #138
Any updates on Intersystems language server compatibility for Apple Silicon or any work-arounds that others have found?

[2022-02-14 14:23] isc-bsaviano commented on #138
@sethjberkowitz This is in active development. We are working towards a solution that will support arm and improve performance for all platforms. I will update this issue when there's a beta vsix for arm users to test.

[2022-02-15 13:15] isc-bsaviano commented on #216
@gjsjohnmurray I sent you a beta vsix to test via FTP

[2022-02-15 16:08] gjsjohnmurray commented on #217
@isc-bsaviano confirmed resolved in 1.2.9-beta.1

[2022-02-15 16:08] #216 closed

[2022-02-15 16:09] isc-bsaviano commented on #217
@gjsjohnmurray Do you need me to release this soon so you can merge your other PR?

[2022-02-15 16:12] gjsjohnmurray commented on #217
Yes please.

[2022-02-15 16:40] isc-bsaviano commented on #217
@gjsjohnmurray 1.2.9 is live

[2022-02-23 05:42] kolaval opened #218 "Default folding when opening a class"
In studio there was the option to "Open class in contracted view"
In vs code, for each class I open, I have to click in the class and ctrl+k ctrl+1 to get the same effect.
Can it be made a setting and auto-applied?

[2022-02-23 13:32] #218 closed

[2022-03-18 16:06] CraigRegester opened #219 "Language Server REST requests do not use CA certs from OS cert store"
Issue Type: <b>Bug</b>

Our IRIS for Health test instance uses a certificate signed by our organizational CA (i.e., not trusted on the big wide world web.) When we try to hover over the methods/etc to get help text, an error is logged similar to the one below... This happens with isfs or without.

If I use REST Client extension humao.rest-client to test the APIs InterSystems Language Server is cal

[2022-03-18 16:13] isc-bsaviano commented on #219
@CraigRegester Does the Server Manager extension (InterSystems Tools view) work for that instance? It uses the same npm module to make the REST requests.

[2022-03-18 16:23] CraigRegester commented on #219
`Error: unable to get local issuer certificate
    at TLSSocket.onConnectSecure (_tls_wrap.js:1497:34)
    at TLSSocket.emit (events.js:315:20)
    at TLSSocket._finishInit (_tls_wrap.js:932:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:706:12) {
  code: 'UNABLE_TO_GET_ISSUER_CERT_LOCALLY',
  config: {
    transitional: {
      silentJSONParsing: true,
      forcedJSONParsing: true,
      cl

[2022-03-18 16:23] isc-bsaviano commented on #219
@CraigRegester Thanks for the extra info. I'll see what I can find out

[2022-03-21 14:11] isc-bsaviano commented on #219
@CraigRegester The issue is that VS Code itself loads the host OS's CA cert store when it starts up, but since the LS runs in it's own process it doesn't have access to those loaded certs. I will ask the VS Code team if there's a way to have the LS inherit VS Code's http Agent.

[2022-03-21 14:14] CraigRegester commented on #219
Makes sense. There are a few extensions out there that supposedly make the local OS truststore available to other extensions - one is win-ca-cert I believe.

I tinkered with it last week but it didn't help Language Server extension. Maybe the code within win-ca-cert however will help point in the right direction on how to implement access to the local CA store.

[2022-03-22 14:16] isc-bsaviano commented on #219
@CraigRegester After talking with the VS Code team (https://github.com/microsoft/vscode/issues/145559) I will make my REST requests on the client instead of in the Language Server process so it can take advantage of VS Code's auto-loading of the CA certs. I'm currently working on a bunch of stuff for LS v2 so this will be included in that when it comes out.

[2022-03-30 14:40] #213 closed

[2022-03-30 14:44] isc-bsaviano commented on #138
Language Server version 2.0.0 was just released and it contains support for arm64 on Mac.

[2022-03-30 14:44] #138 closed

[2022-03-30 14:44] isc-bsaviano commented on #32
@gjsjohnmurray Language Server version 2.0.0 was just released

[2022-03-30 14:44] #32 closed

[2022-03-30 14:45] isc-bsaviano commented on #174
@xoxloviwan @random343 @UmkaBearpaw @AlexeyM64 Can you download Language Server version 2.0.0 and check if this problem still occurs?

[2022-03-30 17:34] CraigRegester commented on #219
Seeing this after upgrading the extension

[code]

[2022-03-30 17:36] isc-bsaviano commented on #219
@CraigRegester What platform are you on and what operation did you try to perform?

[2022-03-30 17:36] CraigRegester commented on #219
Windows 10 x64 Professional - And all I did was load up my workspace and hover over a method to try and see the help text

[2022-03-30 17:45] CraigRegester commented on #219
Tried again to piece it out a bit (the Code --trace-warnings didn't help at all)

The first block up to the 1st 'Request textDocument/hover failed ' was caused by loading up a class.... so maybe the initial call to the language server to get all the metadata.

All the individual textDocument/hover fialed is when I'm just moving my mouse around the class and it hits a method name (so it's trying to

[2022-03-30 17:47] isc-bsaviano commented on #219
@CraigRegester Thanks for the info. I'm pretty sure I identified the bug, I will send you a beta vsix for windows with a fix when I have it.

[2022-03-30 18:04] isc-bsaviano opened #220 "Extension reports noisy error message when REST request fails"
Seeing this after upgrading the extension

[code]

Reported by @CraigRegester [here](https://github.com/intersystems/language-server/issues/219#issuecomment-1083425376)

[2022-03-30 18:06] isc-bsaviano commented on #220
@CraigRegester

Try this VSIX and let me know if it works. The issue is that the new code for making REST requests wasn't handling null/undefined responses correctly.

[language-server-win32-x64-2.0.1-beta.1.vsix.zip](https://github.com/intersystems/language-server/files/8383042/language-server-win32-x64-2.0.1-beta.1.vsix.zip)

[2022-03-30 18:07] isc-bsaviano commented on #219
@CraigRegester I opened #220 and posted a beta vsix there

[2022-03-30 18:11] CraigRegester commented on #220
![image](https://user-images.githubusercontent.com/65192819/160902729-173f2636-89ab-4e52-b572-b4a745a57a99.png)
That seemed to do the trick - getting help text now at least and no others in the Output window.

Fyi, 2.0.0 broke trusted CA certs as well, not just local ones. Guessing you knew that but just sharing.

[2022-03-30 18:13] isc-bsaviano commented on #220
Just to confirm, you mean 2.0.0 did not resolve #219?

[2022-03-30 18:18] CraigRegester commented on #220
Saying 2.0.0 made #219 worse initially. Whereas before with my UCR instance (which uses a Trusted CA Cert - not a local CA Cert) I could use the language server just fine, once 2.0.0 was installed, UCR was getting the exact same errors I shared today on #219 .

 Sorry for the confusion. Two different domains and instances, one uses a Trusted CA Cert, other uses a Local CA Cert. Former worked pre-2

[2022-03-30 18:21] isc-bsaviano commented on #220
Ok, I'm glad that everything is working now. If you over over a class, you see documentation when you're connected to either one of those instances, right? Hover for classes always makes a REST request so that's an easy way to test that they're going through

[2022-03-30 18:22] CraigRegester commented on #220
If I hover over a function like $PIECE or $LISTNEXT, it definitely works on both.

If I hover over a class, I'm not sure that is working on either.... but it's not throwing any errors.

[2022-03-30 18:25] isc-bsaviano commented on #220
Ok, there may still be a problem then. Does go to definition on a class work?

[2022-03-30 18:28] CraigRegester commented on #220
No sir, it doesn't, on either.

[Trace - 2:26:12 PM] Received response 'textDocument/definition - (61)' in 6ms.
No result returned.

[2022-03-30 18:32] CraigRegester commented on #220
No prob - here's some verbose logging that generated when I opened up EnsLib.HL7.Message

[trace.txt](https://github.com/intersystems/language-server/files/8383198/trace.txt)

[2022-03-30 18:37] isc-bsaviano commented on #220
@CraigRegester Figured it out, it has to do with the npm module that I use to pass cookies when I do the requests. I'll have a fix for you soon.

[2022-03-30 19:19] isc-bsaviano commented on #219
@CraigRegester

Please try this vsix. I tested it with an HTTPS IRIS and it looks good to me.

[language-server-win32-x64-2.0.1-beta.2.vsix.zip](https://github.com/intersystems/language-server/files/8383469/language-server-win32-x64-2.0.1-beta.2.vsix.zip)

[2022-03-30 19:26] CraigRegester commented on #219
Definitely better - I can hover over classes now and see definition... but the Go to Definition still isn't working (on UCR at least - gonna test on IRIS for Health next)

[2022-03-30 19:29] CraigRegester commented on #219
![image](https://user-images.githubusercontent.com/65192819/160915438-558b2dea-3def-42d8-9494-0fec8ef2a8ff.png)

Same in IRIS for Health. Screenshot shows I can hover over %Net.HttpRequest but right-clicking and selecting Go to Definition... no dice.

[2022-03-30 19:33] isc-bsaviano commented on #219
This is really odd. It looks like the cookies aren't being sent to the server when using HTTPS so the definition fails with a 401.

[2022-03-30 22:27] CraigRegester commented on #219
Or maybe I need to adjust the atelier web app to not tightly scope cookies and/or permit cookies? Not sure. Responding from my phone so can't look but will try a couple different tweaks on the webapp to see if it helps.

[2022-03-31 06:29] mhoritaisj commented on #138
Thanks for this update.

But even with v 2.0.0, the language server crashes if the code contains methods written in Python with the error:

[Info  - 3:02:38 PM] Connection to server got closed. Server will restart.
[Error - 3:02:38 PM] Request textDocument/documentSymbol failed.
Error: Connection got disposed.
	at Object.dispose (/Users/horita/.vscode/extensions/intersystems.language-server-2.0.0/

[2022-03-31 09:10] UmkaBearpaw commented on #174
Hello. How can I download and install this version for my VSCode? Have you any instruction?

[2022-03-31 09:13] gjsjohnmurray commented on #174
@UmkaBearpaw 2.0.0 is already published on Marketplace. Go to the Extensions view in VS Code and look at the LS entry there. If it doesn't already offer you an update, click the "..." menu at the top right corner of the panel to get an option to check for updates.

[2022-03-31 09:47] UmkaBearpaw commented on #174
Yes, thank you. Update LanguageServer to 2.0.0 is really solve this problem, error is not occur while open big class. Thank you very much.

[2022-03-31 11:14] DodgeDeBoulet opened #221 "Language Server v2.0.0 Crashes Repeatedly Upon Startup"
Reverted to 1.2.9 due to the following issue on reload (concurrent with upgrade to VSCode 1.66 system). Error:

[Error]: Unhandled method intersystems/server/resolveFromUri
    at c:\Users\jd363\.vscode\extensions\intersystems.language-server-2.0.0\server\out\server.js:2:708402
    at c:\Users\jd363\.vscode\extensions\intersystems.language-server-2.0.0\server\out\server.js:2:708696
    at Immediat

[2022-03-31 11:27] DodgeDeBoulet commented on #221
Update: Currently evaluating whether this was caused by the use of a self-signed certificate at this site. I noticed an error complaining about the cert in the output window for 1.2.9 when I reverted; a search suggested that setting http.ProxyStrictSSL to false might resolve it. I've reloaded v2.0.0 since that change and it has not generated any errors/crashes.

[2022-03-31 11:28] xoxloviwan commented on #174
Error message not appear, thank you
Is it normal that LanguageServer extension log on tab Output disappeared ?

[2022-03-31 11:38] DodgeDeBoulet commented on #221
2nd update: Problem still exists, same error. Also, FYI:
![image](https://user-images.githubusercontent.com/4532366/161046470-6dd66761-9641-4815-a632-3afbed21e70c.png)

[2022-03-31 11:44] isc-bsaviano commented on #221
@DodgeDeBoulet I think this may be a duplicate of #219. Unfortunately the original fix for it broke HTTPS requests altogether. I'm hoping to have a fix out shortly. What OS are you on?

[2022-03-31 11:46] isc-bsaviano commented on #174
@xoxloviwan Yes, by default the Language Server produces no output. You can change that using the `"intersystems.language-server.trace.server"` setting. See https://intersystems-community.github.io/vscode-objectscript/settings/#language-server

[2022-03-31 11:48] isc-bsaviano commented on #219
@CraigRegester I appreciate your help. The reason you're seeing 2 requests is that the LS always tries to authenticate using cookies first, but if that fails with a 401, it tries again with Basic auth. However, there's a bug that I'm working on where the cookies don't get stored for HTTPS, so the LS makes both request every time.

[2022-03-31 11:51] isc-bsaviano commented on #138
@mhoritaisj I'm not seeing this error on my Intel Mac. I will ping an ISC dev with an M1 Mac and have them test this for me.

[2022-03-31 11:53] DodgeDeBoulet commented on #221
Hi @isc-bsaviano, My local workstation is Windows 10 x64; server is RHEL 8.5. IRIS is behind a standalone Apache server configured for TLS with self-signed certs installed on the same host if that matters (probably not 😊)

[2022-03-31 12:06] DodgeDeBoulet commented on #221
Also, FYI ... the self-signed cert is in the windows trusted store and web browsers don't complain.

[2022-03-31 12:14] CraigRegester commented on #219
Yeah I read through the typescript a bit after that post to try and look for any differences based on my experience working with similar tools but nothing obvious jumped out. :( No worries, happy to help - vested interest as I have a couple new-to-ISC developers and having the help text not showing up has been like them learning with one arm tied behind their back so happy to push through it with

[2022-03-31 14:18] isc-bsaviano commented on #219
@CraigRegester Can you try this vsix? The cookies issue looks fixed to me.

[language-server-win32-x64-2.0.1-beta.3.vsix.zip](https://github.com/intersystems/language-server/files/8390209/language-server-win32-x64-2.0.1-beta.3.vsix.zip)

[2022-03-31 14:18] isc-bsaviano commented on #221
@DodgeDeBoulet Can you try the vsix found [here](https://github.com/intersystems/language-server/issues/219#issuecomment-1084651250) and let me know if it works for you?

[2022-03-31 14:21] isc-bsaviano commented on #138
@mhoritaisj The ISC dev said that they haven't seen any issues with parsing python using an M1 Mac. Can you paste an example of some code that when included breaks the language server but without parses fine?

[2022-03-31 14:30] CraigRegester commented on #138
Yes, working much better! I can now use the Go to Definition and hover over appears to work on everything appropriately now. Anything else I should check? Those are the main components I use and they look fine in both my UCR (Trusted CA Cert) and I4H (Local CA Cert) workspaces.

[2022-03-31 14:36] isc-bsaviano commented on #219
@CraigRegester That's great! It would super helpful if you could check your log for a LoginFailure, or use the HTTP Trace to see if the cookies are passed correctly. If either of those look good then I will consider this resolved and release 2.0.1

[2022-03-31 14:43] CraigRegester commented on #219
Just clear the audit log in my dev env and retested - no LoginFailure events, just Logins - working well even with the delegated SSO setup UCR 2021.2 uses. Awesome work, ty!

[2022-03-31 14:46] #220 closed

[2022-03-31 14:51] #221 closed

[2022-03-31 14:52] isc-bsaviano commented on #219
@DodgeDeBoulet @CraigRegester I just published 2.0.1. Thanks for all your help!

[2022-03-31 15:05] #174 closed

[2022-03-31 20:13] DodgeDeBoulet commented on #219
Sooo .... I was seeing some weird indenting behavior and thought I had a problem with ObjectScript v1.4.4 Extension. I installed the pre-release version v1.5.2022022801 and immediately saw the _exact same behavior_ from the **Language Server** v2.0.1 that I reported for 2.0.0 in the other issue. Reverting to ObjectScript 1.4.4 made it go away (but the indenting oddity returned).

If this isn't the

[2022-03-31 20:19] isc-bsaviano commented on #219
@DodgeDeBoulet The pre-release version of the main extension is intended to be used alongside the pre-release version of the server manager extension. The only difference between those versions and the regular ones is that they use a new VS Code Authentication API for storing passwords securely. The pre-release extensions are not equal to the beta versions found on GitHub, that have the proposed A

[2022-04-01 01:30] whitten commented on #22
Is $$$ a single token or is $$$OK two tokens ($$$ and OK ) ?

[2022-04-01 02:23] mhoritaisj commented on #138
@isc-bsaviano  As I look into this further, it is showing weird behavior.  The following simple code opens perfectly OK, but as I edit it, for example, adding an import statement, the LS crashes. I have not identified the exact trigger that causes the crash.

---
Class User.LSTest Extends %RegisteredObject
{
Method doSomething(s As %String) As %String
{
    //Do ^User.Rtn
    Set a = "あ"
    Quit

[2022-04-01 12:15] isc-bsaviano commented on #22
@whitten Generally macros are 2 tokens, $$$ and then the name of the macro. I don't know for sure if that's uniform though.

[2022-04-01 12:23] isc-bsaviano commented on #138
@mhoritaisj I was able to reproduce your problem on my Intel Mac. I will open a new issue for it and explain what I'm seeing in more detail.

[2022-04-01 12:26] isc-bsaviano opened #222 "Language Server crashes when class `Import` keyword is present but empty"
When you are editing a class definition and want to add an import, typing `Import` causes the LS to crash. If an Import statement already exists or is copied in, the class parses fine. The LS on crashes when the line only contains `Import`.

For example, a class in this state would cause a crash:

[code]

I rolled back to LS 1.2.9 and still observed this behavior.

*Originally reported [here](http

[2022-04-01 15:56] #185 closed

[2022-04-01 16:38] #222 closed

[2022-04-04 21:15] isc-bsaviano commented on #22
Since a macro value can be any string of text, the work required to tokenize them differently far exceeds the value of doing that work.

[2022-04-04 21:15] #22 closed

[2022-04-13 21:56] mvhenderson opened #224 "XData parsing does not handle header comments in XML body"
ObjectScript extension version 1.6.0
Language Server version v2.0.1

<img width="300" alt="image" src="https://user-images.githubusercontent.com/669176/163276973-96ca460e-779d-4da3-8e99-67b941b2bf28.png">

[2022-04-14 12:21] isc-bsaviano commented on #224
Verified that this occurs in Studio as well

[2022-04-14 19:05] #224 closed

[2022-04-20 12:21] isc-bsaviano opened #225 "Add hover and completion support for Storage definitions"

[2022-04-20 12:22] #225 closed

[2022-04-22 15:33] isc-bsaviano opened #226 "Language Server crashes on some Python methods"

[2022-05-10 19:57] isc-bsaviano opened #227 "Upgrade to vscode-languageclient/server version 8.0.0"
These versions finalize the type hierarchy feature that we implement

[2022-05-17 12:16] Christian-Martinez1 opened #228 "Add embedded language Request Forwarding for HTML, CSS, JavaScript, etc."
Hello,

I would like to request that Request Forwarding be added to the client extension for the Intersystems Language Server. While the language server does have markup for HTML elements, JS variables and functions, etc, there is no hover box suggestions or auto-completion (aside from the auto-close tag as that is a different extension) as seen below:

https://user-images.githubusercontent.com/43

[2022-05-17 12:38] isc-bsaviano commented on #228
@Christian-Martinez1 The Language Server is not registered to provide Intellisense for HTML files so it shouldn't be conflicting with the default HTML support for them:

https://github.com/intersystems/language-server/blob/1fddccd038f3d87531d6f58ae2656f95ba83d07b/client/src/extension.ts#L77-L84

If you want HTML Intellisense in embedded HTML within ObjectScript or CSP then request forwarding would

[2022-05-17 12:42] Christian-Martinez1 commented on #228
Correct, that is what I am requesting; for embedded HTML, CSS, JS, and SQL request forwarding so that we may get auto-complete suggestions and hover boxes.

[2022-05-17 12:47] isc-bsaviano commented on #228
@Christian-Martinez1 Ok, I just wanted to clarify your request. InterSystems SQL varies significantly from the standard so forwarding Intellisense requests for that wouldn't be an improvement. For JS, CSS, Python and HTML I agree that request forwarding would be an improvement.

[2022-05-17 12:53] Christian-Martinez1 commented on #228
Awesome, that would be absolutely useful if this could be added. Tried taking a look at the extension.ts file to see if I can do it myself but I don't have any experience with vs code extension development and wasn't too sure where to start.

[2022-05-17 12:59] isc-bsaviano commented on #228
@Christian-Martinez1 This extension is maintained by InterSystems officially (unlike the main extension or server-manager) and we don't accept or solicit PR's so I will look at this when I have time. I have attempted adding this in the past but it's a lot of work.

[2022-05-17 13:00] Christian-Martinez1 commented on #228
I see, thank you for your time.

[2022-06-03 14:24] isc-bsaviano opened #229 "`Override Class Members` command may override members that weren't selected"
For example, if the super class has 2 methods: Foo and FooBar, and you select Foo to be overridden, FooBar gets overridden as well.

*Reported by @isc-kiyer*

[2022-06-03 14:25] #229 closed

[2022-06-03 15:55] LogMull opened #230 "Allow "Go to symbol with line offset""
In Cache Studio, the hotkey ctrl+g would allow the user to go to a tag / label and optionally allow +/- line numbers.  VS Code allows for raw line numbers and the language server already allows going to symbols, which is great.  If it is possible, it would be very nice if something such as @method+25 could be entered to mimic what Studio allows.  This would be helpful when referencing error messag

[2022-06-03 17:30] isc-bsaviano commented on #230
@LogMull A community member wrote an extension that does exactly this, you should give it a try: https://marketplace.visualstudio.com/items?itemName=georgejames.gjlocate

[2022-06-03 17:30] #230 closed

[2022-06-03 17:51] LogMull commented on #230
That is great, thank you for pointing that out.

[2022-06-03 18:46] ebromberg opened #231 "Linting not working on *.mac file"
I can't seem to get some of the linting to work on mac file. Specifically, the References to local variables that are undefined.
I created a simple xEBTesting.mac file that looks like:
ROUTINE xEBTesting

B
 w $$ASK("test","y")
 i test=1 w "hi"
 q
ASK(question,dfault) {
 i debug w "debug"
 q 1
 }

But yet I do not get any warning about the variables test or debug being undefined.
Shouldn't that wa

[2022-06-03 19:31] isc-bsaviano commented on #231
@ebromberg Variable tracking is handled by the Studio parsers and only works in classes.

[2022-06-03 19:31] #231 closed

[2022-06-17 11:53] isc-bsaviano commented on #228
@Christian-Martinez1 Quick update, I am actively working on this but I need https://github.com/microsoft/vscode/issues/151537 resolved before I will release it

[2022-06-29 13:55] isc-bsaviano opened #232 "SignatureHelp intellisense highlights incorrect argument if preceding argument contains a comma"
For example, if the cursor was at the end this line, the 2nd argument would be highlighted instead of the first:
`Do ..Test("hello, world"`

[2022-06-29 13:56] #232 closed

[2022-07-11 16:56] isc-kiyer opened #233 "Enh Request: Support for folding ranges at the class level"
Folding ranges are supported within methods but not at the class level.

So region markers like the following do not currently work:

[code]

NOTE: The space is needed between the `//` and the `#` as this space is automatically added on compilation for single-line comments that are not inside a class member.

[2022-07-11 17:01] isc-kiyer opened #234 "Bug: Generated classes do not appear in intellisense for for class names"
When typing a package name in `##class`, any generated classes within the package do not appear. Example screen recording:

https://user-images.githubusercontent.com/75783557/178318471-7b596e17-2d85-4aac-9742-4c206791a011.mov

In the recording the API.Methods class appears but the API class which is generated does not appear.

LS version: v2.0.4
VS code version:

Version: 1.69.0 (Universal)
Commit